# DCbipl.cfg: Collects Business Intelligence Publisher Information
# $Id: DCbipl.cfg,v 1.14 2013/10/30 07:18:22 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/BI/DCbipl.cfg,v 1.14 2013/10/30 07:18:22 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20131010  KRA  Include 'WlsGeneric' focus.

###############################################################################
# Collect Oracle Business Intelligence Publisher setup information
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=${B_IN_USE}
dsc='Collects Oracle Business Intelligence Publisher Information'
pre=RDA:DCbegin
req=?B_REQ_IREQ:OFM:DCireq,?B_REQ_WREQ:OFM:DCwreq
rpt=B_IN_USE
tgt=${I_OH/C}
trg=?B_REQ_IREQ:OFM:DCireq,?B_REQ_WREQ:OFM:DCwreq
var=B_IN_USE  # Flow:in_use
exe=sdcl {
"if ${SET.RDA.BEGIN.I_ORACLE_HOME}
"{var ${I_OH/T} = $itm = last
" var $ORACLE_HOME = $itm->get_first('D_ORACLE_HOME')
" keep $ORACLE_HOME
"}
"var ${B_REQ_IREQ/T} = undef
"var ${B_REQ_WREQ/T} = undef
"if ${PRF.B_TESTS}
" var @{AUX.var} = ('in_use')
"
"macro check_instance
"{loop $ins (findDir($arg[0],'^[^\.]+$','np'))
" {if ?testFile('f',catFile($ins,'bin',${AS.BATCH:'opmnctl'}))
"   return 1
" }
" return 0
"}
"
"macro is_valid_instance
"{var ($nam,$dir) = @arg
" require testDir('d',$dir),\
"   'The specified instance root directory does not exist.'
" require isAbsolute($dir),\
"   'The specified instance root directory is not an absolute path.'
" require check_instance($dir),\
"   'The specified instance root directory does not contain some Oracle \
"    Fusion Middleware instance related-files. Without a valid directory, the \
"    collection will not contain complete instance data.'
" var ${AUX.nam} = $nam
" return true
"}
"
"macro is_valid_domain
"{var ($nam,$dir) = @arg
" require testDir('d',$dir),\
"   'The specified WebLogic Server domain directory does not exist.'
" require isAbsolute($dir),\
"   'The specified WebLogic Server domain directory is not an absolute path.'
" require grepFile(catFile($dir,'config','config.xml'),\
"                  '^<domain\s','f',undef,1,2),\
"   'The specified WebLogic Server domain directory does not contain some \
"    Oracle WebLogic server related-files. Without a valid directory, the \
"    collection will not contain complete WebLogic Server domain data.'
" var ${AUX.nam} = $nam
" return true
"}
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[in_use]
typ=B
dft=true
dsc='Is Oracle Business Intelligence Publisher information requested?'
nam=B_IN_USE
var=chk_install,I_OH

[B_IN_USE]
typ=B
dft=${AUX.B_SELECTED}
dsc='Is Oracle Business Intelligence Publisher information requested?'
inp='Do you want RDA to analyze Oracle Business Intelligence Publisher (Y/N)?'
var=true:chk_install,I_OH

[chk_install]
typ=B
dft=or(testDir('d',catDir($ORACLE_HOME,'bifoundation')),\
       match(${I_OH}->get_first('T_PRODUCT'),\
             '^Oracle Business Intelligence Shiphome'))
dsc='Check for OFM 11g install'
nam=-
var=false:D_HOME,W_WAS,N_TAIL,R_LOG_AGE:\
          instance_root,D_DOMAIN_HOME

#------------------------------------------------------------------------------
# Setting definitions for Oracle Instance
#------------------------------------------------------------------------------
[instance_root]
typ=D
alt=D_INSTANCE_ROOT
dft=${SET.RDA.BEGIN.D_INSTANCE_ROOT}
dsc='Instance root directory'
nam=D_INSTANCE_ROOT
var=I_ORACLE_INSTANCES,set_req_instance

[D_INSTANCE_ROOT]
typ=D
dsc='Instance root directory'
fmt='<<Native'
inp='Enter the location of the directory containing the instance homes to \
     analyze (For example the parent directory of the path specified by an \
     ORACLE_INSTANCE environment variable)'
nam=-
ref=is_valid_instance('D_INSTANCE_ROOT',last)
val=W
var=exists:I_ORACLE_INSTANCES,set_req_instance
exe=sdcl {
"if ?${ENV.ORACLE_INSTANCE}
" var ${AUX.dft} = cleanPath([last,upDir(),''],true)
}

#------------------------------------------------------------------------------
# Select instances
#------------------------------------------------------------------------------
[I_ORACLE_INSTANCES]
typ=I
cls='OI'
dsc='Oracle instance target list'
end='.'
exe=sdcl {
"var @ins = ()
"loop $dir (findDir(${D_INSTANCE_ROOT},'^[^\.]+$','np'))
"{if ?testFile('f',catFile($dir,'bin',${AS.BATCH:'opmnctl'}))
"  call push(@ins,nvl(findItem('OI','D_ORACLE_INSTANCE',$dir),\
"                     defineTarget('OI',{D_ORACLE_INSTANCE=>$dir,\
"                                        T_TITLE=>"Instance home ${VAR.dir}"})))
"}
"var ${AUX.dft} = [@ins]
}

[set_req_instance]
typ=B
dft=false
dsc='Does BIPL require Oracle instance request handler execution?'
nam=B_REQ_IREQ
exe=sdcl {
"var ($flg,%tgt) = (false)
"loop $tgt (@{I_ORACLE_INSTANCES})
"{var $dir = $tgt->get_first('D_ORACLE_INSTANCE')
" next !?testFile('f',catFile($dir,'bin',${AS.BATCH:'opmnctl'}))
" var $oid = $tgt->get_oid
" var ${MOD.IREQ_BI_BIPL_${VAR.oid}.I_ORACLE_INSTANCE:\
"       'Target associated with the Oracle instance home'} = $tgt
" var ${MOD.IREQ_BI_BIPL_${VAR.oid}.T_OH_FOCUS:\
"       'Focus areas for Oracle home associated to the instance home'} = \
"   'HTTP,Manifest,OPMN'
" var ${MOD.IREQ_BI_BIPL_${VAR.oid}.T_OI_FOCUS:\
"       'Focus areas for instance home'} = 'HTTP,OPMN'
" if ?$tgt->get_first('I_ORACLE_HOME')->get_prime('I_COMMON_HOME')
"  var $tgt{last->get_oid} = last
" var $flg = true
"}
"loop $oid (keys(%tgt))
"{var ${MOD.IREQ_BI_BIPL_${VAR.oid}.I_COMMON_HOME:\
"       'Target associated with the Oracle common home'} = $tgt{$oid}
" var ${MOD.IREQ_BI_BIPL_${VAR.oid}.T_CH_FOCUS:\
"       'Focus areas for common home collection'} = 'Manifest,WlsGeneric'
"}
"var ${AUX.dft} = $flg
}

#------------------------------------------------------------------------------
# Setting definitions for Oracle WebLogic Server
#------------------------------------------------------------------------------
[D_DOMAIN_HOME]
typ=D
dft=${ENV.DOMAIN_HOME}
dsc='Oracle WebLogic Server domain home'
fmt='<<Native'
inp='Enter the Oracle WebLogic Server domain home to be used for data analysis'
nam=-
ref=is_valid_domain('D_DOMAIN_HOME',last)
val=W
var=exists:T_SERVERS

#------------------------------------------------------------------------------
# Select the server(s)
#------------------------------------------------------------------------------
[T_SERVERS]
typ=M
bef="Server list for '${T_TMP_DOM}' domain:"
def='./WREQ_BI_BIPL_DOM'
dft='*'
dsc='Domain server list'
itm=[@{T_TMP_ITM}]
pck=true
val=E
exe=sdcl {
"var ($dir,@itm) = (${CTX.D_DOMAIN_HOME})
"if expr('>',scalar(@dir = splitDir($dir)),1)
"{loop $srv (findDir(catDir($dir,'servers'),'^[^\.]+$','n'))
" {if ?testDir('d',catDir($dir,'servers',$srv,'logs'))
"   call push(@itm,$srv,$srv)
" }
" var ${T_TMP_DOM/T} = $nam = pop(@dir)
" var @{T_TMP_ITM/T} = @itm
" var ${I_DOMAIN:'Target associated with the domain'} = \
"   nvl(findItem('DOM','D_DOMAIN_HOME',getShortPath($dir,true)),\
"       defineTarget('DOM',{D_DOMAIN_ROOT=>$top = catNative(@dir,''),\
"                           T_DOMAIN_NAME=>$nam,\
"                           T_TITLE=>"Domain ${VAR.nam} (in ${VAR.top})"}))
" var ${T_TOP_FOCUS:\
"       'Focus areas for Oracle WebLogic Server Middleware collection'} = \
"   'Generic,Manifest'
" var ${T_DOM_FOCUS:\
"       'Focus areas for Oracle WebLogic Server domain collection'} = \
"   'BI_BIPL,ExtDomCfg,ExtSnmCfg,ExtSrvCfg,MinDomCfg,MinSrvCfg,NodDomCfg,\
"    NodDomLog,SrvErr'
" var ${CTX.B_REQ_WREQ:\
"       'Does BIPL require Oracle WebLogic Request Handler collection?'} = true
"}
}

#------------------------------------------------------------------------------
# Prior 11g setting definitions
#------------------------------------------------------------------------------
[D_HOME]
typ=D
dft=${ENV.SAROOTDIR}
dsc='Oracle BI server installation directory'
err='Warning: The specified directory does not -yet- exist'
inp='Specify the Oracle BI server installation directory'
val=W

[W_WAS]
typ=M
cas=false
dft='OAS'
dsc='Web application server type'
err="Enter a number from 1 to ${AUX.N_ITEMS}"
inp='Enter the Web application server type'
itm=['OAS' =>'Oracle Application Server',\
     'TOM' =>'Tomcat',\
     'WSP' =>'IBM WebSphere',\
     'OC4J'=>'OC4J']
val=E
var=OAS:D_OAS_HOME:\
    TOM:D_TOMCAT_HOME:\
    WSP:D_WSP_HOME

[D_OAS_HOME]
typ=D
dft=$ORACLE_HOME
dsc='Oracle Application Server home directory'
err='Warning: The specified directory does not exist'
inp='Enter the home directory for the Application Server'
val=W

[D_TOMCAT_HOME]
typ=D
dsc='Tomcat Application Server home directory'
err='Warning: The specified directory does not exist'
inp='Enter the home directory for the Tomcat Application Server'
val=W

[D_WSP_HOME]
typ=D
dsc='IBM WebSphere Application Server home directory'
err='Warning: The specified directory does not exist'
inp='Enter the home directory for the IBM WebSphere Application Server'
val=W

[N_TAIL]
typ=N
dft=5000
dsc='Maximum number of lines to extract from each log file'
err='The number of lines must be an integer greater than zero'
inp='How many lines do you want RDA to extract starting from the end of each \
     log file?'
lvl=6
ref='I]0,['
val=F

[R_LOG_AGE]
typ=N
dft=5
dsc='Age limit (in days) of the log files to be collected'
err='The number of days must be a positive number'
inp='Enter the age limit (in days) for the log files to be collected'
lvl=6
ref='R[0,['
val=F

#------------------------------------------------------------------------------
# Common setting definitions
#------------------------------------------------------------------------------
[I_OH]
typ=I
cls='OH'
dsc='Target associated with the Oracle home'
vis=false
