# DCbi.cfg: Collects Business Intelligence Enterprise Edition Information
# $Id: DCbi.cfg,v 1.12 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/BI/DCbi.cfg,v 1.11 2017/08/18 08:53:57 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20180301  PCW  Add prompts for collection of OBIA patch logs.
# 20170721  PCW  Enable BI:OFMbi plugins for 11g as well as 12c.

###############################################################################
# Collect Oracle Business Intelligence Enterprise Edition setup information
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=${B_IN_USE}
dsc='Collects Oracle Business Intelligence Enterprise Edition Information'
pre=OFM:DCinit
req=?B_REQ_IREQ:OFM:DCireq
rpt=B_IN_USE
tgt=${I_OHC/C}
trg=?B_REQ_IREQ:OFM:DCireq
var=not_used  # Flow:in_use,B_IN_USE
exe=sdcl {
"if ${SET.OFM.INIT.I_OH}
"{var ${I_OHC/T} = $itm = last
" var $ORACLE_HOME = $itm->get_first('D_ORACLE_HOME')
" keep $ORACLE_HOME
"}
"var ${B_REQ_IREQ/T} = undef
"var @{AUX.var} = (cond(${PRF.B_TESTS},'in_use','B_IN_USE'))
"
"macro check_instance
"{loop $ins (findDir($arg[0],'^[^\.]+$','np'))
" {if ?testFile('f',catFile($ins,'bin',${AS.BATCH:'opmnctl'}))
"   return 1
" }
" return 0
"}
"
"macro is_valid_instance
"{var ($nam,$dir) = @arg
" require testDir('d',$dir),\
"   'The specified instance root directory does not exist.'
" require isAbsolute($dir),\
"   'The specified instance root directory is not an absolute path.'
" require check_instance($dir),\
"   'The specified instance root directory does not contain some Oracle \
"    Fusion Middleware instance related-files. Without a valid directory, the \
"    collection will not contain complete instance data.'
" var ${AUX.nam} = $nam
" return true
"}
"
"macro is_valid_dir
"{var ($nam,$dir) = @arg
" require testDir('d',$dir),\
"   'The specified OBIA patch log directory does not exist.'
" require isAbsolute($dir),\
"   'The specified OBIA patch log directory is not an absolute path.'
" var ${AUX.nam} = $nam
" return true
"}
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[in_use]
typ=B
dft=true
dsc='Is Oracle Business Intelligence Enterprise Edition information requested?'
nam=B_IN_USE
var=chk_install,N_TAIL,R_LOG_AGE,I_OHC

[not_used]
typ=B
dft=false
dsc='Is Oracle Business Intelligence Enterprise Edition information requested?'
nam=B_IN_USE

[B_IN_USE]
typ=B
dft=${AUX.B_SELECTED}
dsc='Is Oracle Business Intelligence Enterprise Edition information requested?'
inp='Do you want RDA to analyze Oracle Business Intelligence Enterprise \
     Edition (formerly Siebel Business Analytics) (Y/N)?'
var=true:chk_install,N_TAIL,R_LOG_AGE,I_OHC

[chk_install]
typ=B
dft=or(and(testDir('d',catDir($ORACLE_HOME,'bifoundation')),\
           testDir('d',catDir($ORACLE_HOME,'rcu'))),\
       testDir('d',catDir($ORACLE_HOME,'bi','bifoundation')))
dsc='Check for OFM 11g or 12c install'
nam=-
var=true:chk_12c:D_HOME,D_DATA,T_REPOSITORY

[chk_12c]
typ=B
dft=testDir('d',catDir($ORACLE_HOME,'bi','bifoundation'))
dsc='Check for OFM 12c install'
nam=-
var=true:B_CORES,T_SERVERS:\
         instance_root,T_SERVERS,B_PATCH_LOGS,B_CORES,B_HCVE_CHECKS

#------------------------------------------------------------------------------
# Setting definitions for Oracle Instance
#------------------------------------------------------------------------------
[instance_root]
typ=D
alt=D_INSTANCE_ROOT
dft=${SET.RDA.BEGIN.D_INSTANCE_ROOT}
dsc='Instance root directory'
nam=D_INSTANCE_ROOT
var=I_ORACLE_INSTANCES,set_req_instance

[D_INSTANCE_ROOT]
typ=D
dsc='Instance root directory'
fmt='<<Native'
inp='Enter the location of the directory containing the instance homes to \
     analyze (For example the parent directory of the path specified by an \
     ORACLE_INSTANCE environment variable)'
nam=-
ref=is_valid_instance('D_INSTANCE_ROOT',last)
val=W
var=exists:I_ORACLE_INSTANCES,set_req_instance
exe=sdcl {
"if ?${ENV.ORACLE_INSTANCE}
" var ${AUX.dft} = cleanPath([last,upDir(),''],true)
}

#------------------------------------------------------------------------------
# Select instances
#------------------------------------------------------------------------------
[I_ORACLE_INSTANCES]
typ=I
cls='OI'
dsc='Oracle instance target list'
end='.'
exe=sdcl {
"var ($top,@itm,%ins) = (${D_INSTANCE_ROOT})
"if ${T_INSTANCES/E}
"{loop $nam (@{T_INSTANCES})
" {if ?testFile('f',catFile($top,$nam,'bin',${AS.BATCH:'opmnctl'}))
"   var $ins{$dir = catDir($top,$nam)} = true
" }
"}
"elsif findDir($top,'^\.+$','npv')
"{loop $dir (last)
" {if ?testFile('f',catFile($dir,'bin',${AS.BATCH:'opmnctl'}))
"   var $ins{$dir} = true
" }
"}
"loop $dir (keys(%ins))
" call push(@itm,nvl(findItem('OI','D_ORACLE_INSTANCE',$dir),\
"                    defineTarget('OI',{D_ORACLE_INSTANCE=>$dir,\
"                                       T_TITLE=>"Instance home ${VAR.dir}"})))
"var ${AUX.dft} = [@itm]
}

[set_req_instance]
typ=B
dft=false
dsc='Does BI require Oracle instance request handler execution?'
nam=B_REQ_IREQ
var=true:T_REPOSITORY
exe=sdcl {
"var ($flg,@itm,%tgt) = (false)
"loop $tgt (@{I_ORACLE_INSTANCES})
"{var $dir = $tgt->get_first('D_ORACLE_INSTANCE')
" next !?testFile('f',catFile($dir,'bin',${AS.BATCH:'opmnctl'}))
" var $oid = $tgt->get_oid
" var ${MOD.IREQ_BI_BI_${VAR.oid}.I_ORACLE_INSTANCE:\
"       'Target associated with the Oracle instance home'} = $tgt
" var ${MOD.IREQ_BI_BI_${VAR.oid}.T_OH_FOCUS:\
"       'Focus areas for Oracle home associated to the instance home'} = \
"   'BI,HTTP,Manifest,OPMN'
" var ${MOD.IREQ_BI_BI_${VAR.oid}.T_OI_FOCUS:\
"       'Focus areas for instance home'} = 'BI,HTTP,OPMN'
" if ?$tgt->get_first('I_ORACLE_HOME')->get_prime('I_COMMON_HOME')
"  var $tgt{last->get_oid} = last
" loop $sub (findDir($cmp = \
"   catDir($dir,'bifoundation','OracleBIServerComponent'),'^\.+$','nv'))
" {loop $fil (grepDir(catDir($cmp,$sub,'repository'),'\.rpd$','n'))
"  {var $itm = join(',',concat('InsDir:',$dir),\
"                       concat('Comp:',$sub),\
"                       concat('Repo:',$fil))
"   call push(@itm,$itm,$itm)
"  }
" }
" var $flg = true
"}
"loop $oid (keys(%tgt))
"{var ${MOD.IREQ_BI_BI_${VAR.oid}.I_COMMON_HOME:\
"       'Target associated with the Oracle common home'} = $tgt{$oid}
" var ${MOD.IREQ_BI_BI_${VAR.oid}.T_CH_FOCUS:\
"       'Focus areas for common home collection'} = 'Manifest'
"}
"var ${AUX.dft} = $flg
"var @{T_TMP_REPO_LIST/T} = @itm
}

#------------------------------------------------------------------------------
# Force plug-ins from BI:OFMbi.ctl to load
#------------------------------------------------------------------------------
[T_SERVERS]
def='./WREQ_BI_BI_DOM'

[B_CORES]
typ=B
dft=false
dsc='Collect core dump files?'
inp='Do you want RDA to collect core dump files (Y/N)?'

#------------------------------------------------------------------------------
# Ask if patch logs are to be collected, set directory.
#------------------------------------------------------------------------------
[B_PATCH_LOGS]
typ=B
dft=cond(${PRF.B_PATCH_LOGS},true,false)
dsc='Collect OBIA patching logs?'
inp='Do you want RDA to collect OBIA patching logs (Y/N)?'
var=true:D_PATCH_DIR

[D_PATCH_DIR]
typ=D
dsc='OBIA patch log directory'
fmt='<<Native'
inp='Enter the location of the directory containing the OBIA patching \
     log files.'
nam=-
ref=is_valid_dir('D_PATCH_DIR',last)
val=W
exe=sdcl {
"var $txt = catDir($ORACLE_HOME,'biapps','tools','bin')
"if ?testFile('fr',catFile($txt,'apply_patches_import.txt'))
"{loadFile(lastFile())
" loop $lin (getLines())
" {if match($lin,'^WORKDIR')
"   var ($dum,$wkd) = split('\=',$lin)
" }
" var ${AUX.dft} = cleanPath($wkd,true)
"}
}

#------------------------------------------------------------------------------
# Prior 11g setting definitions
#------------------------------------------------------------------------------
[D_HOME]
typ=D
dft=${ENV.SAROOTDIR}
dsc='Oracle BI server installation directory'
err='Warning: The specified directory does not -yet- exist'
inp='Specify the Oracle BI server installation directory'
val=W

[D_DATA]
typ=D
dft=${ENV.SADATADIR}
dsc='Oracle BI data directory'
err='Warning: The specified directory does not -yet- exist'
inp='Specify the Oracle BI data directory'
val=W

#------------------------------------------------------------------------------
# Common setting definitions
#------------------------------------------------------------------------------
[T_REPOSITORY]
typ=M
bef='Repository list:'
dft='*'
dsc='Repository list'
itm=[@{T_TMP_REPO_LIST}]
pck=true
val=E
exe=sdcl {
"if !?${B_REQ_IREQ}
"{var @itm = ()
" if grepDir(catDir(${D_HOME},'server','Repository'),'\.rpd$','n')
" {loop $fil (last)
"   call push(@itm,$fil,$fil)
" }
" var @{T_TMP_REPO_LIST/T} = @itm
"}
}

[B_HCVE_CHECKS]
typ=B
dft=${PRF.B_HCVE_CHECKS}
dsc='Are Oracle Business Intelligence preinstallation checks requested?'
inp='Do you want RDA to execute Oracle Business Intelligence preinstallation \
     checks (Y/N)?'
lvl=6

[N_TAIL]
typ=N
dft=5000
dsc='Maximum number of lines to extract from each log file'
err='The number of lines must be an integer greater than zero'
inp='How many lines do you want RDA to extract starting from the end of each \
     log file?'
lvl=6
ref='I]0,['
val=F

[R_LOG_AGE]
typ=N
dft=5
dsc='Age limit (in days) of the log files to be collected'
err='The number of days must be a positive number'
inp='Enter the age limit (in days) for the log files to be collected'
lvl=6
ref='R[0,['
val=F

[I_OHC]
typ=I
cls='OH'
dsc='Target associated with the Oracle home'
vis=false
