# DCcb.cfg: Collects Oracle Crystal Ball Information
# $Id: DCcb.cfg,v 1.5 2013/10/30 07:18:22 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/BI/DCcb.cfg,v 1.5 2013/10/30 07:18:22 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20131001  KRA  Moved advanced setup level to 6.

###############################################################################
# Collect Oracle Crystal Ball setup information
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=${B_IN_USE}
dsc='Collects Oracle Crystal Ball Information'
fam=Cygwin,Windows
pre=RDA:DCbegin
rpt=B_IN_USE
var=not_used  # Flow:in_use,B_IN_USE
exe=sdcl {
"if ?testDir('d',catDir(${ENV.APPDATA},'Oracle','Crystal Ball'))
" var @{AUX.var} = (cond(${PRF.B_TESTS},'in_use','B_IN_USE'))
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[in_use]
typ=B
dft=true
dsc='Is Oracle Crystal Ball information requested?'
nam=B_IN_USE
var=N_ROTATED_LOGS

[not_used]
typ=B
dft=false
dsc='Is Oracle Crystal Ball information requested?'
nam=B_IN_USE

[B_IN_USE]
typ=B
dft=${AUX.B_SELECTED}
dsc='Is Oracle Crystal Ball information requested?'
inp='Do you want RDA to analyze Oracle Crystal Ball information (Y/N)?'
var=true:N_ROTATED_LOGS

[N_ROTATED_LOGS]
typ=N
dft=3
dsc='Maximum number of rotated log files to collect'
err='The number of files must be an integer'
inp='How many rotated log files do you want RDA to collect?'
lvl=6
ref='I[0,['
val=F
