# DCinfa.cfg: Collects Informatica Information
# $Id: DCinfa.cfg,v 1.3 2013/10/30 07:18:22 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/BI/DCinfa.cfg,v 1.3 2013/10/30 07:18:22 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change History
# 20130430  MSC  Change profile properties.

###############################################################################
# Collect Informatica setup information
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=${B_IN_USE}
dsc='Collects Informatica Information for Oracle Business Intelligence \
     Applications'
fam=Cygwin,Unix,Windows
pre=RDA:DCbegin
rpt=B_IN_USE
var=not_used  # Flow:in_use,B_IN_USE
exe=sdcl {
"var @{AUX.var} = (cond(${PRF.B_TESTS},'in_use','B_IN_USE'))
"
"macro is_valid_home
"{var ($nam,$dir) = @arg
" require testDir('d',$dir),\
"   'The specified Informatica home directory does not exist.'
" require isAbsolute($dir),\
"   'The specified Informatica home directory is not an absolute path.'
" require testFile('f',catFile($dir,'server','bin',${AS.BAT:'infacmd'})),\
"   'The specified Informatica home directory does not contain some \
"    Informatica installation related-files. Without a valid directory, the \
"    collection will be disabled.'
" var ${AUX.nam} = $nam
" return true
"}
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[in_use]
typ=B
dft=true
dsc='Is Informatica information requested?'
nam=B_IN_USE
var=D_HOME

[not_used]
typ=B
dft=false
dsc='Is Informatica information requested?'
nam=B_IN_USE

[B_IN_USE]
typ=B
dft=${AUX.B_SELECTED}
dsc='Is Informatica information requested?'
inp='Should RDA analyze Informatica information for Oracle Business \
     Intelligence Applications (Y/N)?'
var=true:D_HOME

[D_HOME]
typ=D
dft=${ENV.INFA_HOME}
dsc='Informatica home'
inp='Enter the Informatica home to be analyzed'
nam=-
ref=is_valid_home('D_HOME',last)
val=W
var=exists:T_DOMAIN,T_USER,T_REPOSITORY:\
           not_used

[T_DOMAIN]
typ=T
dsc='Informatica domain name'
inp='Enter the domain name for exporting the logs'

[T_USER]
typ=T
dsc='Informatica user name'
inp='Enter the user name for exporting the logs'

[T_REPOSITORY]
typ=T
dsc='Informatica repository name'
inp='Enter the repository name for exporting the repository service logs'

