# mrc.cfg: Definition of Multi-run Collection Groups
# $Id: mrc.cfg,v 1.1 2013/12/10 08:56:43 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/BI/mrc.cfg,v 1.1 2013/12/10 08:56:43 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20131210  KRA  Initial version.

###############################################################################
# Define the multi-run collection groups
###############################################################################

[exltcs:default]
*=BI:MCexltcs|EXLTCS
?="Collects Exalytics-specific information"

