# profile.cfg: BI Collection Profile Definitions
# $Id: profile.cfg,v 1.31 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/BI/profile.cfg,v 1.27 2017/05/12 10:12:48 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change History
# 20202307  PCW  Fix sequence of PRF entries in FM11g_WlsBia.
# 20181207  PCW  Add alias Hyperion_FDMEE to FDM 11g profile.
# 20180301  PCW  Set BI_PATCH_LOGS for BIA profiles, unset for BI.
# 20171004  PCW  Remove refs to DAC and INFA from FM11g_WlsBia and FM11g_Bia.
# 20170404  PCW  Add alias FM12c_Bi to profile for BI 11g WLS version.

[AS11g_Bi|FM11g_Bi]
*=BI:DCbi,OFM:DCireq,OS:DCinst,OS:DCnet,OS:DCos,OS:DCperf,OS:DCprof
?FM11g_Bi="Business Intelligence Enterprise Edition 11g problems"
LVL/OS:DCnet/B_PING_TESTS=6
PRF/BI.BI.B_HCVE_CHECKS=1
PRF/BI.BI.B_TESTS=1
PRF/RDA.BEGIN.B_INSTANCE=1
OS.INST.B_FILTER=1

[AS11g_Bia|FM11g_Bia]
*=BI:DCbi,OFM:DCireq,OS:DCinst,OS:DCnet,OS:DCos,OS:DCperf,\
  OS:DCprof
?FM11g_Bia="Business Intelligence Applications problems"
LVL/OS:DCnet/B_PING_TESTS=6
PRF/BI.BI.B_HCVE_CHECKS=1
PRF/BI.BI.B_PATCH_LOGS=1
PRF/BI.BI.B_TESTS=1
PRF/RDA.BEGIN.B_INSTANCE=1
OS.INST.B_FILTER=1

[AS11g_WlsBi|FM11g_WlsBi|FM12c_Bi]
*=BI:DCbi,OFM:DCireq,OFM:DCwls,OFM:DCwreq,OS:DCinst,OS:DCnet,OS:DCos,\
  OS:DCperf,OS:DCprof
?FM11g_WlsBi="Business Intelligence Enterprise Edition 11g with WLS"
?FM12c_Bi="Business Intelligence Enterprise Edition 12c problems"
@=CUS:BI
LVL/OFM:DCwreq/B_CUSTOM_SCRIPTS=3
LVL/OFM:DCwreq/B_THREAD_DUMP=3
LVL/OS:DCnet/B_PING_TESTS=6
LVL/RDA:DCbegin/D_INSTANCE_ROOT=6
LVL/RDA:DCbegin/D_ORACLE_HOME=6
LVL/RDA:DCbegin/T_ORACLE_HOME=6
LVL/RDA:DCbegin/edit_instance_root=6
LVL/RDA:DCbegin/set_optional_root=6
PRF/BI.BI.B_HCVE_CHECKS=1
PRF/BI.BI.B_TESTS=1
PRF/N_OFM_LEVEL=3
PRF/OFM.WLS.B_TESTS=1
PRF/OFM.WLS.W_TYPE=ON
PRF/OFM.WREQ.B_HCVE_CHECKS=1
PRF/RDA.BEGIN.B_INSTANCE=1
PRF/RDA.BEGIN.M_SETUP=OFM:DCwls
OS.INST.B_FILTER=1

[AS11g_WlsBia|FM11g_WlsBia]
*=BI:DCbi,OFM:DCireq,OFM:DCwls,OFM:DCwreq,OS:DCinst,\
  OS:DCnet,OS:DCos,OS:DCperf,OS:DCprof
?FM11g_WlsBia="Business Intelligence Applications with WLS"
@=CUS:BIA
LVL/OFM:DCwreq/B_CUSTOM_SCRIPTS=3
LVL/OFM:DCwreq/B_THREAD_DUMP=3
LVL/OS:DCnet/B_PING_TESTS=6
LVL/RDA:DCbegin/D_INSTANCE_ROOT=6
LVL/RDA:DCbegin/D_ORACLE_HOME=6
LVL/RDA:DCbegin/T_ORACLE_HOME=6
LVL/RDA:DCbegin/edit_instance_root=6
LVL/RDA:DCbegin/set_optional_root=6
PRF/BI.BI.B_HCVE_CHECKS=1
PRF/BI.BI.B_PATCH_LOGS=1
PRF/BI.BI.B_TESTS=1
PRF/N_OFM_LEVEL=3
PRF/OFM.WLS.B_TESTS=1
PRF/OFM.WLS.W_TYPE=ON
PRF/OFM.WREQ.B_HCVE_CHECKS=1
PRF/RDA.BEGIN.B_INSTANCE=1
PRF/RDA.BEGIN.M_SETUP=OFM:DCwls
OS.INST.B_FILTER=1

[Essbase]
*=BI:DCess,OS:DCnet,OS:DCos,OS:DCperf,OS:DCprof
PRF/BI.ESS.B_TESTS=1

[Exalytics]
*=BI:DCbi,BI:DCexltcs,DB:DCtten,OFM:DCireq,OFM:DCwreq,OS:DCnet,OS:DConet,\
  OS:DCos,OS:DCperf,OS:DCprof
?="Oracle Exalytics problems"
PRF/BI.BI.B_TESTS=1
PRF/BI.EXLTCS.B_TESTS=1
PRF/DB.TTEN.B_TESTS=1
PRF/RDA.BEGIN.B_INSTANCE=1

[FCM_FullRun]
*=BI:DCfcm,DB:DCdb,DB:DCdba,OFM:DCwreq,OS:DCinst,OS:DCnet,OS:DConet,OS:DCos,\
  OS:DCperf,OS:DCprof
PRF/BI.FCM.B_TESTS=1
PRF/OS.PERF.B_TESTS=1

[FinManagement|FinancialManagement|HFM_FullRun]
*=BI:DChfm,OFM:DCwreq,OS:DCinst,OS:DCnet,OS:DConet,OS:DCos,OS:DCperf,OS:DCprof
PRF/BI.HFM.B_TESTS=1
PRF/OS.ONET.B_TESTS=1

[FinancialReporting]
*=BI:DChfr,OS:DCnet,OS:DCos,OS:DCperf,OS:DCprof
PRF/BI.HFR.B_TESTS=1

[Hyperion1112_CB|Hyperion11g_CB]
*=BI:DCepm,BI:DChpl,BI:DChsf,BI:DChsv,BI:DCcb,OFM:DCireq,OFM:DCwreq,\
  OS:DCos,OS:DCprof
?Hyperion1112_CB="Oracle Crystal Ball problems"
@=CUS:CB
LVL/BI:DCepm/D_HOME=6
LVL/BI:DCepm/D_INSTANCE_ROOT=6
LVL/BI:DCepm/ask_ins_domain=6
LVL/OFM:DCwreq/B_CUSTOM_SCRIPTS=3
LVL/OFM:DCwreq/B_THREAD_DUMP=3
LVL/RDA:DCbegin/D_INSTANCE_ROOT=6
LVL/RDA:DCbegin/edit_instance_root=6
LVL/RDA:DCbegin/set_optional_root=6
PRF/B_OFM_PROFILE=1
PRF/BI.EPM.B_TESTS=1
PRF/BI.HPL.B_TESTS=1
PRF/BI.HSF.B_TESTS=1
PRF/BI.HSV.B_TESTS=1
PRF/BI.CB.B_TESTS=1
PRF/RDA.BEGIN.B_INSTANCE=1
PRF/RDA.BEGIN.M_SETUP=BI:DCcb

[Hyperion1112_EAS|Hyperion11g_EAS]
*=BI:DCeas,BI:DCepm,BI:DChss,OFM:DCireq,OFM:DCwreq,OS:DCos,OS:DCprof
?Hyperion1112_EAS="Oracle Essbase Administration Services 11.1.2.x problems"
@=CUS:EAS
LVL/BI:DCepm/D_HOME=6
LVL/BI:DCepm/D_INSTANCE_ROOT=6
LVL/BI:DCepm/ask_ins_domain=6
LVL/OFM:DCwreq/B_CUSTOM_SCRIPTS=3
LVL/OFM:DCwreq/B_THREAD_DUMP=3
LVL/RDA:DCbegin/D_INSTANCE_ROOT=6
LVL/RDA:DCbegin/edit_instance_root=6
LVL/RDA:DCbegin/set_optional_root=6
PRF/B_OFM_PROFILE=1
PRF/BI.EAS.B_TESTS=1
PRF/BI.EPM.B_TESTS=1
PRF/BI.HSS.B_TESTS=1
PRF/RDA.BEGIN.B_INSTANCE=1
PRF/RDA.BEGIN.M_SETUP=BI:DCeas

[Hyperion1112_EPM|Hyperion11g_EPM]
*=BI:DCepm,BI:DChss,OFM:DCireq,OFM:DCwreq,OS:DCinst,OS:DCos,OS:DCprof
?Hyperion1112_EPM="Oracle Enterprise Performance Management System 11.1.2.x \
                   problems"
@=CUS:EPM
LVL/BI:DCepm/D_HOME=6
LVL/BI:DCepm/D_INSTANCE_ROOT=6
LVL/BI:DCepm/ask_ins_domain=6
LVL/OFM:DCwreq/B_CUSTOM_SCRIPTS=3
LVL/OFM:DCwreq/B_THREAD_DUMP=3
LVL/RDA:DCbegin/D_INSTANCE_ROOT=6
LVL/RDA:DCbegin/edit_instance_root=6
LVL/RDA:DCbegin/set_optional_root=6
PRF/B_OFM_PROFILE=1
PRF/BI.EPM.B_PRIMARY=1
PRF/BI.EPM.B_TESTS=1
PRF/BI.HSS.B_TESTS=1
PRF/RDA.BEGIN.B_INSTANCE=1
PRF/RDA.BEGIN.M_SETUP=BI:DCepm

[Hyperion1112_EPMA|Hyperion11g_EPMA]
*=BI:DCepm,BI:DChss,BI:DCepma,OFM:DCireq,OFM:DCwreq,OS:DCos,OS:DCprof
?Hyperion1112_EPMA="Oracle Enterprise Performance Management Architect \
                    11.1.2.x problems"
@=CUS:EPMA
LVL/BI:DCepm/D_HOME=6
LVL/BI:DCepm/D_INSTANCE_ROOT=6
LVL/BI:DCepm/ask_ins_domain=6
LVL/OFM:DCwreq/B_CUSTOM_SCRIPTS=3
LVL/OFM:DCwreq/B_THREAD_DUMP=3
LVL/RDA:DCbegin/D_INSTANCE_ROOT=6
LVL/RDA:DCbegin/edit_instance_root=6
LVL/RDA:DCbegin/set_optional_root=6
PRF/B_OFM_PROFILE=1
PRF/BI.EPM.B_TESTS=1
PRF/BI.HSS.B_TESTS=1
PRF/BI.EPMA.B_TESTS=1
PRF/RDA.BEGIN.B_INSTANCE=1
PRF/RDA.BEGIN.M_SETUP=BI:DCepma

[Hyperion1112_ESS|Hyperion11g_ESS]
*=BI:DCepm,BI:DChss,BI:DCess,OFM:DCireq,OFM:DCwreq,OS:DCos,OS:DCprof
?Hyperion1112_ESS="Oracle Essbase 11.1.2.x problems"
@=CUS:ESS
LVL/BI:DCepm/D_HOME=6
LVL/BI:DCepm/D_INSTANCE_ROOT=6
LVL/BI:DCepm/ask_ins_domain=6
LVL/OFM:DCwreq/B_CUSTOM_SCRIPTS=3
LVL/OFM:DCwreq/B_THREAD_DUMP=3
LVL/RDA:DCbegin/D_INSTANCE_ROOT=6
LVL/RDA:DCbegin/edit_instance_root=6
LVL/RDA:DCbegin/set_optional_root=6
PRF/B_OFM_PROFILE=1
PRF/BI.EPM.B_TESTS=1
PRF/BI.HSS.B_TESTS=1
PRF/BI.ESS.B_TESTS=1
PRF/RDA.BEGIN.B_INSTANCE=1
PRF/RDA.BEGIN.M_SETUP=BI:DCess

[Hyperion1112_ESST|Hyperion11g_ESST]
*=BI:DCepm,BI:DChss,BI:DCesst,OFM:DCireq,OFM:DCwreq,OS:DCos,OS:DCprof
?Hyperion1112_ESST="Oracle Essbase Studio 11.1.2.x problems"
@=CUS:ESST
LVL/BI:DCepm/D_HOME=6
LVL/BI:DCepm/D_INSTANCE_ROOT=6
LVL/BI:DCepm/ask_ins_domain=6
LVL/OFM:DCwreq/B_CUSTOM_SCRIPTS=3
LVL/OFM:DCwreq/B_THREAD_DUMP=3
LVL/RDA:DCbegin/D_INSTANCE_ROOT=6
LVL/RDA:DCbegin/edit_instance_root=6
LVL/RDA:DCbegin/set_optional_root=6
PRF/B_OFM_PROFILE=1
PRF/BI.EPM.B_TESTS=1
PRF/BI.HSS.B_TESTS=1
PRF/BI.ESST.B_TESTS=1
PRF/RDA.BEGIN.B_INSTANCE=1
PRF/RDA.BEGIN.M_SETUP=BI:DCesst

[Hyperion1112_FCM|Hyperion11g_FCM]
*=BI:DCepm,BI:DChss,BI:DCfcm,OFM:DCireq,OFM:DCwreq,OS:DCos,OS:DCprof
?Hyperion1112_FCM="Oracle Hyperion Financial Close Management 11.1.2.x problems"
@=CUS:FCM
LVL/BI:DCepm/D_HOME=6
LVL/BI:DCepm/D_INSTANCE_ROOT=6
LVL/BI:DCepm/ask_ins_domain=6
LVL/OFM:DCwreq/B_CUSTOM_SCRIPTS=3
LVL/OFM:DCwreq/B_THREAD_DUMP=3
LVL/RDA:DCbegin/D_INSTANCE_ROOT=6
LVL/RDA:DCbegin/edit_instance_root=6
LVL/RDA:DCbegin/set_optional_root=6
PRF/B_OFM_PROFILE=1
PRF/BI.EPM.B_TESTS=1
PRF/BI.HSS.B_TESTS=1
PRF/BI.FCM.B_TESTS=1
PRF/RDA.BEGIN.B_INSTANCE=1
PRF/RDA.BEGIN.M_SETUP=BI:DCfcm

[Hyperion1112_FDM|Hyperion11g_FDM|Hyperion_FDMEE]
*=BI:DCepm,BI:DChss,BI:DCfdm,OFM:DCireq,OFM:DCwreq,OS:DCos,OS:DCprof
?Hyperion1112_FDM="Oracle Hyperion Financial Data Quality Management 11.1.2.x \
                   problems"
?Hyperion_FDMEE="Oracle Hyperion Financial Data Quality Management Enterprise \
                 Edition problems"
@=CUS:FDM
LVL/BI:DCepm/D_HOME=6
LVL/BI:DCepm/D_INSTANCE_ROOT=6
LVL/BI:DCepm/ask_ins_domain=6
LVL/OFM:DCwreq/B_CUSTOM_SCRIPTS=3
LVL/OFM:DCwreq/B_THREAD_DUMP=3
LVL/RDA:DCbegin/D_INSTANCE_ROOT=6
LVL/RDA:DCbegin/edit_instance_root=6
LVL/RDA:DCbegin/set_optional_root=6
PRF/B_OFM_PROFILE=1
PRF/BI.EPM.B_TESTS=1
PRF/BI.HSS.B_TESTS=1
PRF/BI.FDM.B_TESTS=1
PRF/RDA.BEGIN.B_INSTANCE=1
PRF/RDA.BEGIN.M_SETUP=BI:DCfdm

[Hyperion1112_HCM|Hyperion11g_HCM]
*=BI:DCepm,BI:DChss,BI:DChcm,OFM:DCireq,OFM:DCwreq,OS:DCos,OS:DCprof
?Hyperion1112_HCM="Oracle Hyperion Calculation Manager 11.1.2.x problems"
@=CUS:HCM
LVL/BI:DCepm/D_HOME=6
LVL/BI:DCepm/D_INSTANCE_ROOT=6
LVL/BI:DCepm/ask_ins_domain=6
LVL/OFM:DCwreq/B_CUSTOM_SCRIPTS=3
LVL/OFM:DCwreq/B_THREAD_DUMP=3
LVL/RDA:DCbegin/D_INSTANCE_ROOT=6
LVL/RDA:DCbegin/edit_instance_root=6
LVL/RDA:DCbegin/set_optional_root=6
PRF/B_OFM_PROFILE=1
PRF/BI.EPM.B_TESTS=1
PRF/BI.HSS.B_TESTS=1
PRF/BI.HCM.B_TESTS=1
PRF/RDA.BEGIN.B_INSTANCE=1
PRF/RDA.BEGIN.M_SETUP=BI:DChcm

[Hyperion1112_HDM|Hyperion11g_HDM]
*=BI:DCepm,BI:DChss,BI:DChdm,OFM:DCireq,OFM:DCwreq,OS:DCos,OS:DCprof
?Hyperion1112_HDM="Oracle Hyperion Disclosure Management 11.1.2.x problems"
@=CUS:HDM
LVL/BI:DCepm/D_HOME=6
LVL/BI:DCepm/D_INSTANCE_ROOT=6
LVL/BI:DCepm/ask_ins_domain=6
LVL/OFM:DCwreq/B_CUSTOM_SCRIPTS=3
LVL/OFM:DCwreq/B_THREAD_DUMP=3
LVL/RDA:DCbegin/D_INSTANCE_ROOT=6
LVL/RDA:DCbegin/edit_instance_root=6
LVL/RDA:DCbegin/set_optional_root=6
PRF/B_OFM_PROFILE=1
PRF/BI.EPM.B_TESTS=1
PRF/BI.HSS.B_TESTS=1
PRF/BI.HDM.B_TESTS=1
PRF/RDA.BEGIN.B_INSTANCE=1
PRF/RDA.BEGIN.M_SETUP=BI:DChdm

[Hyperion1112_HDRM|Hyperion11g_HDRM]
*=BI:DCepm,BI:DChss,BI:DChdrm,OFM:DCireq,OFM:DCwreq,OS:DCos,OS:DCprof
?Hyperion1112_HDRM="Oracle Hyperion Data Relationship Management 11.1.2.x \
                    problems"
@=CUS:HDRM
LVL/BI:DCepm/D_HOME=6
LVL/BI:DCepm/D_INSTANCE_ROOT=6
LVL/BI:DCepm/ask_ins_domain=6
LVL/OFM:DCwreq/B_CUSTOM_SCRIPTS=3
LVL/OFM:DCwreq/B_THREAD_DUMP=3
LVL/RDA:DCbegin/D_INSTANCE_ROOT=6
LVL/RDA:DCbegin/edit_instance_root=6
LVL/RDA:DCbegin/set_optional_root=6
PRF/B_OFM_PROFILE=1
PRF/BI.EPM.B_TESTS=1
PRF/BI.HSS.B_TESTS=1
PRF/BI.HDRM.B_TESTS=1
PRF/RDA.BEGIN.B_INSTANCE=1
PRF/RDA.BEGIN.M_SETUP=BI:DChdrm

[Hyperion1112_HFM|Hyperion11g_HFM]
*=BI:DCepm,BI:DChss,BI:DChfm,OFM:DCireq,OFM:DCwreq,OS:DCos,OS:DCprof
?Hyperion1112_HFM="Oracle Hyperion Financial Management 11.1.2.x problems"
@=CUS:HFM
LVL/BI:DCepm/D_HOME=6
LVL/BI:DCepm/D_INSTANCE_ROOT=6
LVL/BI:DCepm/ask_ins_domain=6
LVL/OFM:DCwreq/B_CUSTOM_SCRIPTS=3
LVL/OFM:DCwreq/B_THREAD_DUMP=3
LVL/RDA:DCbegin/D_INSTANCE_ROOT=6
LVL/RDA:DCbegin/edit_instance_root=6
LVL/RDA:DCbegin/set_optional_root=6
PRF/B_OFM_PROFILE=1
PRF/BI.EPM.B_TESTS=1
PRF/BI.HSS.B_TESTS=1
PRF/BI.HFM.B_TESTS=1
PRF/RDA.BEGIN.B_INSTANCE=1
PRF/RDA.BEGIN.M_SETUP=BI:DChfm

[Hyperion1112_HFR|Hyperion11g_HFR]
*=BI:DCepm,BI:DChss,BI:DChfr,OFM:DCireq,OFM:DCwreq,OS:DCnet,OS:DCos,OS:DCprof
?Hyperion1112_HFR="Oracle Hyperion Financial Reporting 11.1.2.x problems"
@=CUS:HFR
LVL/BI:DCepm/D_HOME=6
LVL/BI:DCepm/D_INSTANCE_ROOT=6
LVL/BI:DCepm/ask_ins_domain=6
LVL/OFM:DCwreq/B_CUSTOM_SCRIPTS=3
LVL/OFM:DCwreq/B_THREAD_DUMP=3
LVL/RDA:DCbegin/D_INSTANCE_ROOT=6
LVL/RDA:DCbegin/edit_instance_root=6
LVL/RDA:DCbegin/set_optional_root=6
PRF/B_OFM_PROFILE=1
PRF/BI.EPM.B_TESTS=1
PRF/BI.HSS.B_TESTS=1
PRF/BI.HFR.B_TESTS=1
PRF/RDA.BEGIN.B_INSTANCE=1
PRF/RDA.BEGIN.M_SETUP=BI:DChfr

[Hyperion1112_HIR|Hyperion11g_HIR]
*=BI:DCepm,BI:DChss,BI:DChir,OFM:DCireq,OFM:DCwreq,OS:DCos,OS:DCprof
?Hyperion1112_HIR="Oracle Hyperion Interactive Reporting 11.1.2.x problems"
@=CUS:HIR
LVL/BI:DCepm/D_HOME=6
LVL/BI:DCepm/D_INSTANCE_ROOT=6
LVL/BI:DCepm/ask_ins_domain=6
LVL/OFM:DCwreq/B_CUSTOM_SCRIPTS=3
LVL/OFM:DCwreq/B_THREAD_DUMP=3
LVL/RDA:DCbegin/D_INSTANCE_ROOT=6
LVL/RDA:DCbegin/edit_instance_root=6
LVL/RDA:DCbegin/set_optional_root=6
PRF/B_OFM_PROFILE=1
PRF/BI.EPM.B_TESTS=1
PRF/BI.HSS.B_TESTS=1
PRF/BI.HIR.B_TESTS=1
PRF/RDA.BEGIN.B_INSTANCE=1
PRF/RDA.BEGIN.M_SETUP=BI:DChir

[Hyperion1112_HPC|Hyperion11g_HPC]
*=BI:DCepm,BI:DChss,BI:DChpc,OFM:DCireq,OFM:DCwreq,OS:DCos,OS:DCprof
?Hyperion1112_HPC="Oracle Hyperion Profitability and Cost Management 11.1.2.x \
                   problems"
@=CUS:HPC
LVL/BI:DCepm/D_HOME=6
LVL/BI:DCepm/D_INSTANCE_ROOT=6
LVL/BI:DCepm/ask_ins_domain=6
LVL/OFM:DCwreq/B_CUSTOM_SCRIPTS=3
LVL/OFM:DCwreq/B_THREAD_DUMP=3
LVL/RDA:DCbegin/D_INSTANCE_ROOT=6
LVL/RDA:DCbegin/edit_instance_root=6
LVL/RDA:DCbegin/set_optional_root=6
PRF/B_OFM_PROFILE=1
PRF/BI.EPM.B_TESTS=1
PRF/BI.HSS.B_TESTS=1
PRF/BI.HPC.B_TESTS=1
PRF/RDA.BEGIN.B_INSTANCE=1
PRF/RDA.BEGIN.M_SETUP=BI:DChpc

[Hyperion1112_HPL|Hyperion11g_HPL]
*=BI:DCepm,BI:DChss,BI:DChpl,OFM:DCireq,OFM:DCwreq,OS:DCos,OS:DCprof
?Hyperion1112_HPL="Oracle Hyperion Planning 11.1.2.x problems"
@=CUS:HPL
LVL/BI:DCepm/D_HOME=6
LVL/BI:DCepm/D_INSTANCE_ROOT=6
LVL/BI:DCepm/ask_ins_domain=6
LVL/OFM:DCwreq/B_CUSTOM_SCRIPTS=3
LVL/OFM:DCwreq/B_THREAD_DUMP=3
LVL/RDA:DCbegin/D_INSTANCE_ROOT=6
LVL/RDA:DCbegin/edit_instance_root=6
LVL/RDA:DCbegin/set_optional_root=6
PRF/B_OFM_PROFILE=1
PRF/BI.EPM.B_TESTS=1
PRF/BI.HSS.B_TESTS=1
PRF/BI.HPL.B_TESTS=1
PRF/RDA.BEGIN.B_INSTANCE=1
PRF/RDA.BEGIN.M_SETUP=BI:DChpl

[Hyperion1112_HPS|Hyperion11g_HPS]
*=BI:DCepm,BI:DChss,BI:DChps,OFM:DCireq,OFM:DCwreq,OS:DCos,OS:DCprof
?Hyperion1112_HPS="Oracle Hyperion Performance Scorecard 11.1.2.x problems"
@=CUS:HPS
LVL/BI:DCepm/D_HOME=6
LVL/BI:DCepm/D_INSTANCE_ROOT=6
LVL/BI:DCepm/ask_ins_domain=6
LVL/OFM:DCwreq/B_CUSTOM_SCRIPTS=3
LVL/OFM:DCwreq/B_THREAD_DUMP=3
LVL/RDA:DCbegin/D_INSTANCE_ROOT=6
LVL/RDA:DCbegin/edit_instance_root=6
LVL/RDA:DCbegin/set_optional_root=6
PRF/B_OFM_PROFILE=1
PRF/BI.EPM.B_TESTS=1
PRF/BI.HSS.B_TESTS=1
PRF/BI.HPS.B_TESTS=1
PRF/RDA.BEGIN.B_INSTANCE=1
PRF/RDA.BEGIN.M_SETUP=BI:DChps

[Hyperion1112_HPSV|Hyperion11g_HPSV]
*=BI:DCepm,BI:DChss,BI:DChpsv,OFM:DCireq,OFM:DCwreq,OS:DCos,OS:DCprof
?Hyperion1112_HPSV="Oracle Hyperion Provider Services 11.1.2.x problems"
@=CUS:HPSV
LVL/BI:DCepm/D_HOME=6
LVL/BI:DCepm/D_INSTANCE_ROOT=6
LVL/BI:DCepm/ask_ins_domain=6
LVL/OFM:DCwreq/B_CUSTOM_SCRIPTS=3
LVL/OFM:DCwreq/B_THREAD_DUMP=3
LVL/RDA:DCbegin/D_INSTANCE_ROOT=6
LVL/RDA:DCbegin/edit_instance_root=6
LVL/RDA:DCbegin/set_optional_root=6
PRF/B_OFM_PROFILE=1
PRF/BI.EPM.B_TESTS=1
PRF/BI.HSS.B_TESTS=1
PRF/BI.HPSV.B_TESTS=1
PRF/RDA.BEGIN.B_INSTANCE=1
PRF/RDA.BEGIN.M_SETUP=BI:DChpsv

[Hyperion1112_HSF|Hyperion11g_HSF]
*=BI:DCepm,BI:DChss,BI:DChsf,OFM:DCireq,OFM:DCwreq,OS:DCos,OS:DCprof
?Hyperion1112_HSF="Oracle Hyperion Strategic Finance 11.1.2.x problems"
@=CUS:HSF
LVL/BI:DCepm/D_HOME=6
LVL/BI:DCepm/D_INSTANCE_ROOT=6
LVL/BI:DCepm/ask_ins_domain=6
LVL/OFM:DCwreq/B_CUSTOM_SCRIPTS=3
LVL/OFM:DCwreq/B_THREAD_DUMP=3
LVL/RDA:DCbegin/D_INSTANCE_ROOT=6
LVL/RDA:DCbegin/edit_instance_root=6
LVL/RDA:DCbegin/set_optional_root=6
PRF/B_OFM_PROFILE=1
PRF/BI.EPM.B_TESTS=1
PRF/BI.HSS.B_TESTS=1
PRF/BI.HSF.B_TESTS=1
PRF/RDA.BEGIN.B_INSTANCE=1
PRF/RDA.BEGIN.M_SETUP=BI:DChsf

[Hyperion1112_HSS|Hyperion11g_HSS]
*=BI:DCepm,BI:DChss,OFM:DCireq,OFM:DCwreq,OS:DCnet,OS:DCos,OS:DCprof
?Hyperion1112_HSS="Oracle Hyperion Shared Services 11.1.2.x problems"
@=CUS:HSS
LVL/BI:DCepm/D_HOME=6
LVL/BI:DCepm/D_INSTANCE_ROOT=6
LVL/BI:DCepm/ask_ins_domain=6
LVL/OFM:DCwreq/B_CUSTOM_SCRIPTS=3
LVL/OFM:DCwreq/B_THREAD_DUMP=3
LVL/RDA:DCbegin/D_INSTANCE_ROOT=6
LVL/RDA:DCbegin/edit_instance_root=6
LVL/RDA:DCbegin/set_optional_root=6
PRF/B_OFM_PROFILE=1
PRF/BI.EPM.B_TESTS=1
PRF/BI.HSS.B_TESTS=1
PRF/RDA.BEGIN.B_INSTANCE=1
PRF/RDA.BEGIN.M_SETUP=BI:DChss

[Hyperion1112_HSV|Hyperion11g_HSV]
*=BI:DCepm,BI:DChss,BI:DChsv,OFM:DCireq,OFM:DCwreq,OS:DCos,OS:DCprof
?Hyperion1112_HSV="Oracle Hyperion Smart View 11.1.2.x problems"
@=CUS:HSV
LVL/BI:DCepm/D_HOME=6
LVL/BI:DCepm/D_INSTANCE_ROOT=6
LVL/BI:DCepm/ask_ins_domain=6
LVL/OFM:DCwreq/B_CUSTOM_SCRIPTS=3
LVL/OFM:DCwreq/B_THREAD_DUMP=3
LVL/RDA:DCbegin/D_INSTANCE_ROOT=6
LVL/RDA:DCbegin/edit_instance_root=6
LVL/RDA:DCbegin/set_optional_root=6
PRF/B_OFM_PROFILE=1
PRF/BI.EPM.B_TESTS=1
PRF/BI.HSS.B_TESTS=1
PRF/BI.HSV.B_TESTS=1
PRF/RDA.BEGIN.B_INSTANCE=1
PRF/RDA.BEGIN.M_SETUP=BI:DChsv

[Hyperion1112_HWA|Hyperion11g_HWA]
*=BI:DCepm,BI:DChss,BI:DChwa,OFM:DCireq,OFM:DCwreq,OS:DCos,OS:DCprof
?Hyperion1112_HWA="Oracle Hyperion Web Analysis 11.1.2.x problems"
@=CUS:HWA
LVL/BI:DCepm/D_HOME=6
LVL/BI:DCepm/D_INSTANCE_ROOT=6
LVL/BI:DCepm/ask_ins_domain=6
LVL/OFM:DCwreq/B_CUSTOM_SCRIPTS=3
LVL/OFM:DCwreq/B_THREAD_DUMP=3
LVL/RDA:DCbegin/D_INSTANCE_ROOT=6
LVL/RDA:DCbegin/edit_instance_root=6
LVL/RDA:DCbegin/set_optional_root=6
PRF/B_OFM_PROFILE=1
PRF/BI.EPM.B_TESTS=1
PRF/BI.HSS.B_TESTS=1
PRF/BI.HWA.B_TESTS=1
PRF/RDA.BEGIN.B_INSTANCE=1
PRF/RDA.BEGIN.M_SETUP=BI:DChwa

[Hyperion1112_PR|Hyperion11g_PR]
*=BI:DCepm,BI:DChss,BI:DCpr,OFM:DCireq,OFM:DCwreq,OS:DCos,OS:DCprof
?Hyperion1112_PR="Oracle Hyperion SQR Production Reporting 11.1.2.x problems"
@=CUS:PR
LVL/BI:DCepm/D_HOME=6
LVL/BI:DCepm/D_INSTANCE_ROOT=6
LVL/BI:DCepm/ask_ins_domain=6
LVL/OFM:DCwreq/B_CUSTOM_SCRIPTS=3
LVL/OFM:DCwreq/B_THREAD_DUMP=3
LVL/RDA:DCbegin/D_INSTANCE_ROOT=6
LVL/RDA:DCbegin/edit_instance_root=6
LVL/RDA:DCbegin/set_optional_root=6
PRF/B_OFM_PROFILE=1
PRF/BI.EPM.B_TESTS=1
PRF/BI.HSS.B_TESTS=1
PRF/BI.PR.B_TESTS=1
PRF/RDA.BEGIN.B_INSTANCE=1
PRF/RDA.BEGIN.M_SETUP=BI:DCpr

[Hyperion_DRM]
*=BI:DChdrm,OS:DCnet,OS:DCos,OS:DCperf,OS:DCprof
PRF/BI.HDRM.B_TESTS=1

[Hyperion_EPMA|EPMA_FullRun]
*=BI:DCepma,OFM:DCwreq,OS:DCinst,OS:DCnet,OS:DConet,OS:DCos,OS:DCperf,OS:DCprof
PRF/BI.EPMA.B_TESTS=1
PRF/OS.ONET.B_TESTS=1
