# TLepm.cfg: TLepm Input
# $Id: TLepm.cfg,v 1.3 2013/10/30 07:18:22 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/BI/TLepm.cfg,v 1.3 2013/10/30 07:18:22 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20130422  MSC  Improve the validation.

###############################################################################
# Enterprise Performance Management validation tool
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
dsc='Collects TLepm input'
fam=Cygwin,Unix,Windows
var=no_epm  # Flow:loop_instances
exe=sdcl {
"if ${GRP.EPM.I_OH}
"{if ?testDir('d',${GRP.EPM.D_INSTANCE_ROOT})
"  var @{AUX.var} = ('loop_instances')
"}
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[no_epm]
typ=C
dsc='No valid EPM home'
inp='The EPM module should be set up before this tool is run. Run the EPM \
     module setup before using the tool.'
vis=0

[loop_instances]
typ=L
dft=@{GRP.EPM.I_ORACLE_INSTANCES}
dsc='Examine all instances'
nam=-I_INS
var=loop:ask_instance

[ask_instance]
typ=B
dft=true
dsc='Select validation information from instance'
inp="Do you want to collect validation information for ${W_TMP_INS} (Y/N)?"
nam=-
var=true:add_instance
exe=sdcl {
"var ${W_TMP_INS/T} = basename(${I_INS}->get_first('D_ORACLE_INSTANCE'))
}

[add_instance]
typ=B
nam=-
exe=sdcl {
"call push(@{W_INSTANCES},${W_TMP_INS})
}
