# DCact.cfg: Collects Oracle E-Business Suite Application Information
# $Id: DCact.cfg,v 1.3 2013/10/30 07:18:21 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/APPS/DCact.cfg,v 1.3 2013/10/30 07:18:21 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20131001  KRA  Moved advanced setup level to 6.

###############################################################################
# Collect the Oracle Applications information
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=${B_IN_USE}
dsc='Collects Oracle E-Business Suite Application Information'
pre=RDA:DCbegin
rpt=B_IN_USE
var=B_IN_USE
exe=sdcl {
"macro is_valid_home
"{var ($nam,$dir) = @arg
" require testDir('d',$dir),\
"   'The specified APPL_TOP directory does not exist. Without a valid \
"    directory, the collection will be disabled.'
" require isAbsolute($dir),\
"   'The specified APPL_TOP directory is not an absolute path. Without a \
"    valid directory, the collection will be disabled.'
" var ${AUX.nam} = $nam
" return true
"}
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[not_used]
typ=B
dft=false
dsc='Is Oracle eBusiness Suite Application in use?'
nam=B_IN_USE

[B_IN_USE]
typ=B
dft=${AUX.B_SELECTED}
dsc='Is Oracle eBusiness Suite Application in use?'
inp='Do you want RDA to collect Oracle Applications information (Y/N)?'
var=true:D_TOP

[D_TOP]
typ=D
dft=${ENV.APPL_TOP}
dsc='APPL_TOP directory'
fmt='<<Native'
inp='Specify the APPL_TOP directory'
nam=-
ref=is_valid_home('D_TOP',last)
val=W
var=exists:T_DB_SID,T_LOGIN_ID,T_LOGIN_PW,T_SHORTS,T_USER_NAME,\
           N_USER_ID,N_RESP_ID,T_LANGS,B_RDA_FORMAT:\
           not_used

[B_RDA_FORMAT]
typ=B
dft=true
dsc='Indicate if ACT collection output should be split into multiple reports?'
inp='Do you want RDA to split the ACT collection output into multiple \
     reports (Y/N)?'
lvl=9

[N_RESP_ID]
typ=N
dft=20420
dsc='Responsibility identifier'
err='The responsibility identifier must be a positive integer'
inp='Enter the responsibility identifier'
ref='I]0,['
val=E

[N_USER_ID]
typ=N
dsc='Applications user identifier'
err='The Applications user identifier must be a positive integer'
inp='Enter the Applications user identifier'
lvl=6
opt=1
ref='I[0,['
val=E

[T_DB_SID]
typ=T
dsc='Application Database SID'
opt=1

[T_LANGS]
typ=T
dsc='Alternate language list'
end='.'
hlp='Alternate language list'
inp="Enter a language code or '${AUX.end}' to terminate the list"
lvl=6

[T_LOGIN_ID]
typ=T
dsc='Applications database login'
inp='Enter the database login'

[T_LOGIN_PW]
typ=T
dsc='Applications database login password'
opt=1

[T_SHORTS]
typ=T
dsc='Product short name list'
end='.'
err='Only uppercase letters are allowed in product short names'
inp="Enter a product short name or '${AUX.end}' to terminate the list"
ref='^[A-Z]+$'
val=E

[T_USER_NAME]
typ=T
dft='SYSADMIN'
dsc='Applications user name'
inp='Enter the Applications user name'

