# DCadx.cfg: Collects AutoConfig and Rapid Clone Information
# $Id: DCadx.cfg,v 1.3 2013/10/30 07:18:21 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/APPS/DCadx.cfg,v 1.3 2013/10/30 07:18:21 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20130617  MSC  Improve messages.

###############################################################################
# Collect ADX setup information
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=${B_IN_USE}
dsc='Collects AutoConfig and Rapid Clone Information'
pre=RDA:DCbegin
rpt=B_IN_USE
var=B_IN_USE

#------------------------------------------------------------------------------
# Setting definitions
#-------------------------------------------------- ----------------------------
[B_IN_USE]
typ=B
dft=${AUX.B_SELECTED}
dsc='Is Oracle Application in use?'
inp='Do you want RDA to collect Oracle Applications AutoConfig and Rapid Clone \
     information (Y/N)?'
var=true:B_R12,W_TOOL

[B_R12]
typ=B
dft=false
dsc='Is Oracle Applications Release 12 in use?'
inp='Is Oracle Applications Release 12 in use (Y/N)?'

[W_TOOL]
typ=M
bef='Data Collection Type'
dft='ADC'
dsc='Collection selection'
err="Enter a number from 1 to ${AUX.N_ITEMS}"
inp="\nEnter the item number"
itm=['CLX_ADX'    =>'Rapid Clone and AutoConfig data',\
     'CLX_ADX_CFX'=>'Rapid Clone and AutoConfig data \
                     including configuration files',\
     'ADC'        =>'AutoConfig data',\
     'ADC_CFG'    =>'AutoConfig data including configuration files',\
     'CFA'        =>'Related configuration files']
val=F
var=ADC:T_SID,W_TIER:\
    ADC_CFG:T_SID,W_TIER:\
    CFA:T_SID,W_TIER:\
    CLX_ADX:W_CLONE:\
    CLX_ADX_CFX:W_CLONE
exe=sdcl {
"var (${D_TMP_DFT/T},${T_TMP_TOP/T}) = \
"  cond(${B_R12},list(${ENV.INST_TOP},'INST_TOP'),\
"                list(${ENV.APPL_TOP},'APPL_TOP'))
}

[W_CLONE]
typ=M
bef='Specify the required data collection on the current system'
dft='APPL'
dsc='Rapid Clone data collection'
err="Enter a number from 1 to ${AUX.N_ITEMS}"
inp="\nEnter the item number"
itm=['S' =>'Cloning source',\
     'T' =>'Cloning target',\
     'ST'=>'Both cloning source and target']
val=F
var=S:T_SRC_SID,W_SRC_TIER:\
    T:T_TGT_SID,W_TGT_TIER:\
    ST:T_SRC_SID,W_SRC_TIER,T_TGT_SID,W_TGT_TIER

[W_SRC_TIER]
typ=M
bef='Specify the tier(s) from which source you want RDA to collect data'
dft='APPL'
dsc='Source node data collection'
err="Enter a number from 1 to ${AUX.N_ITEMS}"
inp="\nEnter the item number"
itm=['A' =>'Applications tier',\
     'D' =>'Database tier',\
     'AD'=>'Both applications and database tiers']
val=F
var=A:D_SRC_TOP:\
    D:D_SRC_ORACLE_HOME:\
    AD:D_SRC_TOP,D_SRC_ORACLE_HOME

[W_TGT_TIER]
typ=M
bef='Specify the tier(s) from which target you want RDA to collect data'
dft='APPL'
dsc='Target node tier selection'
err="Enter a number from 1 to ${AUX.N_ITEMS}"
inp="\nEnter the item number"
itm=['A' =>'Applications tier',\
     'D' =>'Database tier',\
     'AD'=>'Both applications and database tiers']
val=F
var=A:D_TGT_TOP:\
    D:D_TGT_ORACLE_HOME:\
    AD:D_TGT_TOP,D_TGT_ORACLE_HOME

[W_TIER]
typ=M
bef='Specify from which tier(s) data should be collected'
dft='APPL'
dsc='Applications tier selection'
err="Enter a number from 1 to ${AUX.N_ITEMS}"
inp="\nEnter the item number"
itm=['A' =>'Application tier',\
     'D' =>'Database tier',\
     'AD'=>'Both applications and database tiers']
val=F
var=A:D_TOP:\
    D:D_ORACLE_HOME:\
    AD:D_TOP,D_ORACLE_HOME

[D_TOP]
typ=D
dft=${D_TMP_DFT}
dsc="${T_TMP_TOP} directory"
err='Warning: The specified directory does not -yet- exist'
inp="Specify the complete path of the ${T_TMP_TOP} directory"
val=W

[D_SRC_TOP]
typ=D
dft=${D_TMP_DFT}
dsc="Source ${T_TMP_TOP} directory"
err='Warning: The specified directory does not exist'
inp="Specify the complete path of the ${T_TMP_TOP} directory for the \
     cloning source"
val=W

[D_TGT_TOP]
typ=D
dft=${D_TMP_DFT}
dsc="Target ${T_TMP_TOP} directory"
err='Warning: The specified directory does not exist'
inp="Specify the complete path of the ${T_TMP_TOP} directory for the \
     cloning target"
val=W

[D_ORACLE_HOME]
typ=D
dsc='Database ORACLE_HOME directory'
err='Warning: The specified directory does not exist'
inp='Specify the complete path of the database Oracle home directory'
val=W

[D_SRC_ORACLE_HOME]
typ=D
dsc='Source database ORACLE_HOME directory'
err='Warning: The specified directory does not exist'
inp='Specify the complete path of the source database Oracle home directory'
val=W

[D_TGT_ORACLE_HOME]
typ=D
dsc='Target database ORACLE_HOME directory'
err='Warning: The specified directory does not exist'
inp='Specify the complete path of the target database Oracle home directory'
val=W

[T_SID]
typ=T
dsc='Database SID'
err='Database SID cannot be null and should not contain any space'
inp='Enter the database SID'
ref='^\S+$'
val=E

[T_SRC_SID]
typ=T
dsc='Source database SID'
err='Database SID cannot be null and should not contain any space'
inp='Enter the source database SID'
ref='^\S+$'
val=E

[T_TGT_SID]
typ=T
dsc='Target database SID'
err='Database SID cannot be null and should not contain any space'
inp='Enter the target database SID'
ref='^\S+$'
val=E

