# DCems.cfg: Collects Email Marketing Server Information
# $Id: DCems.cfg,v 1.3 2013/10/30 07:18:21 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/APPS/DCems.cfg,v 1.3 2013/10/30 07:18:21 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20130430  MSC  Change profile properties.

###############################################################################
# Collect Email Marketing Server collection setup information
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=${B_IN_USE}
dsc='Collects Email Marketing Server Information'
fam=Cygwin,Unix,Windows
pre=RDA:DCbegin
rpt=B_IN_USE
var=not_used  # Flow:in_use,B_IN_USE
exe=sdcl {
"var @{AUX.var} = (cond(${PRF.B_TESTS},'in_use','B_IN_USE'))
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[in_use]
typ=B
dft=true
dsc='Should RDA collect Email Marketing Server information?'
nam=B_IN_USE
var=D_ESD_HOME,D_CTD_HOME,D_WSD_HOME

[not_used]
typ=B
dft=false
dsc='Should RDA collect Email Marketing Server information?'
nam=B_IN_USE

[B_IN_USE]
typ=B
dft=${AUX.B_SELECTED}
dsc='Should RDA collect Email Marketing Server information?'
inp='Do you want RDA to collect Email Marketing Server information (Y/N)?'
var=true:D_ESD_HOME,D_CTD_HOME,D_WSD_HOME

[D_ESD_HOME]
typ=D
dsc='Location in which Email Server Daemon is installed'
err='Warning: The specified directory does not -yet- exist'
inp='Enter the full path of the directory where Email Server Daemon is \
     installed'
raw=true
val=W

[D_CTD_HOME]
typ=D
dsc='Location in which Click Through Daemon is installed'
err='Warning: The specified directory does not -yet- exist'
inp='Enter the full path of the directory where Click Through Daemon is \
     installed'
raw=true
val=W

[D_WSD_HOME]
typ=D
dsc='Location in which Web Survey Daemon is installed'
err='Warning: The specified directory does not -yet- exist'
inp='Enter the full path of the directory where Web Survey Daemon is \
     installed'
raw=true
val=W

