# DCjdes.cfg: Collects JD Edwards EnterpriseOne Enterprise Server Information
# $Id: DCjdes.cfg,v 1.1 RDA Exp $
# ARCS: $Header: /RDA_8/src/scripting/lib/collect/APPS/DCjdes.cfg,v 1.1 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20190104  PCW  Initial version.

###############################################################################
# Collect JD Edwards setup information
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=${B_IN_USE}
dsc='Collects JD Edwards EnterpriseOne Enterprise Server Information'
pre=RDA:DCbegin
rpt=B_IN_USE
var=not_used
exe=sdcl {
"var @{AUX.var} = (cond(${PRF.B_TESTS},'in_use','B_IN_USE'))
"
"macro is_valid_agent
"{var ($nam,$dir) = @arg
" require testDir('d',$dir),\
"   'The specified Server Agent home directory does not exist.'
" require isAbsolute($dir),\
"   'The specified Server Agent home directory is not an absolute path.'
" require testFile('fr',catFile($dir,'SCFHA','targets','targets.xml')),\
"   'The specified Server Agent home directory does not contain required file \
"    targets.xml.  Without a valid directory the collection will be disabled.'
" var ${AUX.nam} = $nam
" return true
"}
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[in_use]
typ=B
dft=true
dsc='Is JD Edwards Enterprise Server information requested?'
nam=B_IN_USE
var=D_AGENT_HOME,chk_privs

[not_used]
typ=B
dft=false
dsc='Is JD Edwards Enterprise Server information requested?'
nam=B_IN_USE

[B_IN_USE]
typ=B
dft=${AUX.B_SELECTED}
dsc='Is JD Edwards Enterprise Server information requested?'
inp='Do you want RDA to collect JD Edwards Enterprise Server information \
     (Y/N)?'
var=true:D_AGENT_HOME,chk_privs

#------------------------------------------------------------------------------
# Setting definitions for JD Edwards Enterprise Server
#------------------------------------------------------------------------------
[D_AGENT_HOME]
typ=D
dsc='JD Edwards Server Agent home'
fmt='<<Native'
inp='Enter the full path of the JDE Server Agent home directory'
nam=-
ref=is_valid_agent('D_AGENT_HOME',last)
val=W
var=exists:D_INSTALL_PATH

[D_INSTALL_PATH]
typ=D
dsc='JD Edwards Enterprise Server installation path'
fmt='<<Native'
inp='Enter the full path of the JDE Server installation path'
lvl=6
exe=sdcl {
"var $fil = catFile(${D_AGENT_HOME},'SCFHA','targets','targets.xml')
"if ?testFile('fr',$fil)
"{if xmlFind(xmlLoadFile($fil),'Targets/Target TYPE="entserver"')
" {var ($xml) = (last)
"  if xmlFind($xml,'Property NAME="installPath"')
"   var ${AUX.dft} = xmlValue(last,'VALUE')
" }
"}
}

[chk_privs]
typ=B
dsc='Check that current user has required privileges'
nam=-
var=false:privs_comment
exe=sdcl {
"if or(isWindows(),isCygwin())
" var $dir = catDir(${D_INSTALL_PATH},'system','bin32')
"else
" var $dir = catDir(${D_INSTALL_PATH},'ini')
"var ${AUX.dft} = testFile('fr',catFile($dir,'JDE.INI'))
}

[privs_comment]
typ=C
dsc='Report missing file or inadequate privileges'
inp="WARNING: RDA cannot read file JDE.INI.\n\n\
     This may be because you are running RDA from a user account which \
     does not have the necessary privileges to read this file. Some \
     features of the current collection will be disabled as a result.\n\n\
     Hit 'Return' to continue"
