# DCjdweb.cfg: Collects JD Edwards EnterpriseOne HTML Server Information
# $Id: DCjdweb.cfg,v 1.2 RDA Exp $
# ARCS: $Header: /RDA_8/src/scripting/lib/collect/APPS/DCjdweb.cfg,v 1.1 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20190122  PCW  Updated module description.
# 20181030  PCW  Initial version.

###############################################################################
# Collect JD Edwards setup information
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=${B_IN_USE}
dsc='Collects JD Edwards EnterpriseOne HTML Server Information'
pre=RDA:DCbegin
req=?B_REQ_WREQ:OFM:DCwreq
rpt=B_IN_USE
trg=?B_REQ_WREQ:OFM:DCwreq
var=not_used
exe=sdcl {
"var ${B_REQ_WREQ/T} = undef
"var @{AUX.var} = (cond(${PRF.B_TESTS},'in_use','B_IN_USE'))
"var $ORACLE_HOME = $itm->get_first('D_ORACLE_HOME')
"keep $ORACLE_HOME
"
"macro is_valid_agent
"{var ($nam,$dir) = @arg
" require testDir('d',$dir),\
"   'The specified Server Manager Agent directory does not exist.'
" require isAbsolute($dir),\
"   'The specified Server Manager Agent directory is not an absolute path.'
" var ${AUX.nam} = $nam
" return true
"}
"
"macro check_domain
"{loop $dom (findDir($arg[0],'^\.+$','npv'))
" {if grepFile(catFile($dom,'config','config.xml'),'^<domain\s','f',undef,1,2)
"   return 1
" }
" return 0
"}
"
"macro is_valid_domain
"{var ($nam,$dir) = @arg
" require testDir('d',$dir),\
"   'The specified WebLogic Server domain root directory does not exist.'
" require isAbsolute($dir),\
"   'The specified WebLogic Server domain root directory is not an \
"    absolute path.'
" require check_domain($dir),\
"   'The specified WebLogic Server domain root directory does not \
"    contain some Oracle WebLogic server related-files. Without a valid \
"    directory, the collection will be disabled.'
" var ${AUX.nam} = $nam
" return true
"}
"
"macro is_valid_user
"{var ($nam,$usr) = @arg
" import %USERS
" if !match($usr,'^\S+$')
"  return false
" if !?$USERS{${T_TMP_NAM}}
"  var $USERS{${T_TMP_NAM}} = $usr
" var ${AUX.nam} = $nam
" return true
"}
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[in_use]
typ=B
dft=true
dsc='Is JD Edwards HTML Server information requested?'
nam=B_IN_USE
var=D_AGENT_HOME

[not_used]
typ=B
dft=false
dsc='Is JD Edwards HTML Server information requested?'
nam=B_IN_USE

[B_IN_USE]
typ=B
dft=${AUX.B_SELECTED}
dsc='Is JD Edwards HTML Server information requested?'
inp='Do you want RDA to collect JD Edwards HTML Server information (Y/N)?'
var=true:D_AGENT_HOME

#------------------------------------------------------------------------------
# Setting definitions for JD Edwards HTML Server
#------------------------------------------------------------------------------
[D_AGENT_HOME]
typ=D
dsc='JD Edwards Server Manager Agent home'
fmt='<<Native'
inp='Enter the full path of the JDE Server Manager Agent home directory'
nam=-
ref=is_valid_agent('D_AGENT_HOME',last)
val=W
var=exists:D_DOMAIN_ROOT

#------------------------------------------------------------------------------
# Setting definitions for Oracle WebLogic Server
#------------------------------------------------------------------------------
[D_DOMAIN_ROOT]
typ=D
dsc='Domain root directory'
fmt='<<Native'
inp='Enter the location of the directory where the domains to analyze are \
     located'
nam=-
ref=is_valid_domain('D_DOMAIN_ROOT',last)
val=W
var=exists:W_TYPE,I_DOMAINS,set_req_domain,loop_domains
exe=sdcl {
"if ${D_DOMAIN_ROOT/M}
"{if ?${PRF/D_DOMAIN_ROOT}
" {var ${AUX.dft} = last
"  var ${AUX.lvl} = ${PRF/N_OFM_LEVEL:0}
" }
" elsif ?testParent('d',${ENV.DOMAIN_HOME})
" {var ${AUX.dft} = last
"  var ${AUX.lvl} = ${PRF/N_OFM_LEVEL:0}
" }
" elsif ?testDir('d',catDir(${ENV.MW_HOME},'user_projects','domains'))
" {var ${AUX.dft} = last
"  var ${AUX.lvl} = ${PRF/N_OFM_LEVEL:0}
" }
" elsif ?nvl(testFile('f',cleanPath([$ORACLE_HOME,\
"                                    'domain-registry.xml'],true)),\
"            testFile('f',cleanPath([$ORACLE_HOME,upDir(),\
"                                    'domain-registry.xml'],true)))
" {loop $xml (xmlFind(xmlLoadFile(last),'domain-registry/domain'))
"  {var $dir = cleanNative([xmlValue($xml,'location'),''])
"   if grepFile(catFile($dir,'config','config.xml'),'^<domain\s','f',undef,1,2)
"   {var ${AUX.dft} = testParent('d',$dir)
"    var ${AUX.lvl} = ${PRF/N_OFM_LEVEL:0}
"    break
"   }
"  }
" }
"}
"elsif ?testDir('d',${D_DOMAIN_ROOT})
" var ${AUX.lvl} = ${PRF/N_OFM_LEVEL:0}
}

[W_TYPE]
typ=M
bef='Oracle WebLogic Server Collection Type:'
dft=${PRF.W_TYPE:'OFF'}
dsc='Oracle WebLogic server collection type'
err="Enter a number from 1 to ${AUX.N_ITEMS}"
hlp='For a successful WLS connection, ensure that the domain Admin Server is \
     up and running.'
inp="\nEnter the item number"
itm=[OFF =>'Perform offline collection',\
     ON  =>'Perform online collection (using WLS connection)']
val=F

#------------------------------------------------------------------------------
# Select the domain(s)
#------------------------------------------------------------------------------
[I_DOMAINS]
typ=I
cls='DOM'
dsc='Oracle WebLogic domain target list'
end='.'
exe=sdcl {
"var ($top,@itm,%dom,%dup,%SERVERS) = (${D_DOMAIN_ROOT})
"keep %SERVERS
"if ${PRF/B_OFM_IPS}
"{var $dir = cleanNative([$top,${PRF/T_DOMAIN},''])
" var $dom{getShortPath($dir,true)} = [$top,${PRF/T_DOMAIN},$dir]
"}
"elsif ${T_DOMAINS/E}
"{var ($lst,$srv) = ()
" if ${T_SERVERS/E}
" {if compare('eq',last,'HASH')
"   var $srv = ${T_SERVERS}
"  else
"   var $lst = [@{T_SERVERS}]
" }
" loop $nam (@{T_DOMAINS})
" {var $dir = cleanNative([$top,$nam,''])
"  if grepFile(catFile($dir,'config','config.xml'),\
"              '^<domain\s','f',undef,1,2)
"  {var $dom{$key = getShortPath($dir,true)} = [$top,$nam,$dir]
"   if ?$lst
"    var $SERVERS{$key} = $lst
"   elsif ?$srv
"    var $SERVERS{$key} = $srv->{$nam}
"  }
" }
"}
"elsif findDir($top,'^\.+$','nv')
"{loop $sub (last)
" {next !grepFile(catFile($top,$sub,'config','config.xml'),\
"                 '^<domain\s','f',undef,1,2)
"  var $dir = cleanNative([$top,$sub,''])
"  var $dom{$key = getShortPath($dir,true)} = [$top,$sub,$dir]
"  var $tgt = addTarget('DOM_Setup',{B_MISSING_COMMON=>true,\
"                                    B_MISSING_HOME=>true,\
"                                    B_MISSING_PRODUCT=>true,\
"                                    B_MISSING_WL_HOME=>true,\
"                                    D_DOMAIN_HOME=>$key,\
"                                    D_DOMAIN_ROOT=>$top,\
"                                    T_DOMAIN_NAME=>$sub})
"  next !?$tgt->get_attr('BEA_HOME')
"  next !?testFile('f',catFile(last,'domain-registry.xml'))
"  next exists($dup{$reg = last})
"  loop $xml (xmlFind(xmlLoadFile($reg),'domain-registry/domain'))
"  {var $dir = cleanNative([xmlValue($xml,'location'),''])
"   if grepFile(catFile($dir,'config','config.xml'),'^<domain\s','f',undef,1,2)
"   {var $key = getShortPath($dir,true)
"    if or(missing($dom{$key}),expr('>',length($dir),length($dom{$key}->[2])))
"    {if expr('>',scalar(@dir = splitDir($dir)),1)
"     {var $nam = pop(@dir)
"      var $dom{getShortPath($dir,true)} = [catNative(@dir,''),$nam,$dir]
"     }
"    }
"   }
"  }
"  var $dup{$reg} = true
" }
"}
"loop $dir (keys(%dom))
" call push(@itm,\
"   nvl(findItem('DOM','D_DOMAIN_HOME',$dir,true),\
"       defineTarget('DOM',{D_DOMAIN_ROOT=>$top = $dom{$dir}->[0],\
"                           T_DOMAIN_NAME=>$nam = $dom{$dir}->[1],\
"                           T_TITLE=>"Domain ${VAR.nam} (in ${VAR.top})"})))
"var $dft = undef
"if ?$dom{$dir = getShortPath(${ENV.DOMAIN_HOME},true)}
" var $dft = findItem('DOM','D_DOMAIN_HOME',$dir,true)
"if ?$dft
" var ${AUX.dft} = last
"else
" var ${AUX.dft} = [@itm]
"if expr('==',scalar(@itm),1)
"{if expr('>=',${CUR.N_LEVEL},${PRF/N_OFM_LEVEL:0})
"  var ${AUX.vis} = true
" else
" {var ${AUX.vis} = false
"  call unshift(@{AUX.W_NEXT},'domain_comment')
" }
"}
}

[domain_comment]
typ=C
dsc='Report RDA has determined the domain home to collect'
inp="\nOracle WebLogic Server domain home target list:\n\
     When RDA discovers only one domain home, domain home list selection \
     is suppressed.\n\
     RDA will target the domain home:\n\
     \040'${T_DOMAIN_NAME/P}' (in ${D_DOMAIN_ROOT/P})"
vis=false

[set_req_domain]
typ=B
dft=false
dsc='Does JDE require Oracle WebLogic request handler execution?'
nam=B_REQ_WREQ
exe=sdcl {
"var ($flg,%DOMAINS,%USERS) = (false)
"keep %DOMAINS,%USERS
"loop $tgt (@{I_DOMAINS})
"{var $dir = $tgt->get_first('D_DOMAIN_HOME')
" next !grepFile(catFile($dir,'config','config.xml'),'^<domain\s','f',undef,1,2)
" var $oid = $tgt->get_oid
" var ${MOD.WREQ_APPS_JDWEB_${VAR.oid}.I_DOMAIN:\
"       'Target associated with the domain'} = $tgt
" var ${MOD.WREQ_APPS_JDWEB_${VAR.oid}.T_TOP_FOCUS:\
"       'Focus areas for Oracle WebLogic Server Middleware collection'} = \
"   'Generic,Manifest'
" if compare('eq',${W_TYPE},'OFF')
"  var ${MOD.WREQ_APPS_JDWEB_${VAR.oid}.T_DOM_FOCUS:\
"        'Focus areas for Oracle WebLogic Server domain collection'} = \
"    'APPS_JDE,ExtDomCfg,ExtSnmCfg,ExtSrvCfg,MinDomCfg,MinSrvCfg,\
"     NodDomCfg,NodDomLog,SrvErr,SrvExc,SrvJvm,WlstOff,WlstOffMB,WlstOffSum'
" else
"  var ${MOD.WREQ_APPS_JDWEB_${VAR.oid}.T_DOM_FOCUS:\
"        'Focus areas for Oracle WebLogic Server domain collection'} = \
"    'APPS_JDE,ExtDomCfg,ExtSnmCfg,ExtSrvCfg,MinDomCfg,MinSrvCfg,\
"     NodDomCfg,NodDomLog,SrvErr,SrvExc,SrvJvm,WlstOn,WlstOnSum,\
"     WlstDomCfg,WlstDomClu,WlstDomCmt,WlstDomPar,WlstDomPwm,WlstDomRgp,\
"     WlstDomRgt,WlstDomRmr,WlstDomRun,WlstDomSrv,WlstDomVtg,WlstSrvCfg,\
"     WlstSrvExp,WlstSrvImg,WlstSrvRun,WlstSrvThd,WlstOff,WlstOffMB,WlstOffSum'
" var $DOMAINS{${MOD.WREQ_APPS_JDWEB_${VAR.oid}/I}->get_path} = $tgt
" var $flg = true
"}
"var ${AUX.dft} = $flg
}

[loop_domains]
typ=L
dft=keys(%DOMAINS)
dsc='Iterate on each domain'
nam=-RUN/SDSL.K_OID
var=loop:T_SERVERS,chk_type

#------------------------------------------------------------------------------
# Select the server(s)
#------------------------------------------------------------------------------
[T_SERVERS]
typ=M
bef="\nServer list for '${T_TMP_NAM}' - domain home (in ${D_TMP_DOM}):"
def="COL/${RUN.SDSL.K_OID}"
dft='*'
dsc='Domain server list'
itm=[@{T_TMP_ITM}]
pck=true
val=E
exe=sdcl {
"var ($tgt,@itm) = ($DOMAINS{${RUN.SDSL.K_OID}})
"if ${PRF/B_OFM_IPS}
" call push(@itm,${PRF/T_SERVER},${PRF/T_SERVER})
"elsif exists($SERVERS{$top = $tgt->get_first('D_DOMAIN_HOME')})
"{loop $srv (@{$SERVERS{$top}})
" {if ?testDir('d',catDir($top,'servers',$srv,'logs'))
"   call push(@itm,$srv,$srv)
" }
"}
"else
"{loop $srv (findDir(catDir($top,'servers'),'^[^\.]+$','n'))
" {if ?testDir('d',catDir($top,'servers',$srv,'logs'))
"   call push(@itm,$srv,$srv)
" }
"}
"var ${T_TMP_NAM/T} = $tgt->get_first('T_DOMAIN_NAME')
"var ${D_TMP_DOM/T} = \
"  catNative($tgt->get_first('D_DOMAIN_ROOT'),${T_TMP_NAM},'')
"var @{T_TMP_ITM/T} = @itm
"if ${PRF/N_OFM_LEVEL}
"{var $cnt = scalar(@itm)
" if or(expr('==',$cnt,2),\
"       and(expr('==',$cnt,4),grep(@itm,'^AdminServer$','if')))
" {var ${AUX.lvl} = ${PRF/N_OFM_LEVEL}
"  call unshift(@{AUX.W_NEXT},'server_comment')
" }
" else
"  var ${AUX.bef} = "\nServer list for '${T_TMP_NAM}' - domain home \
"                    (in ${D_TMP_DOM}):\n\
"                    Two or more managed servers have been discovered."
"}
}

[server_comment]
typ=C
def="COL/${RUN.SDSL.K_OID}"
dsc='Report RDA has determined the server(s) to collect'
inp="\nServer list for '${T_TMP_NAM}' - domain home (in ${D_TMP_DOM}):\n\
     When RDA discovers only one managed server and/or an AdminServer, server \
     list selection is suppressed.\n\
     RDA will target the server(s):\n\
     ${T_TMP_SERVERS}" # stopwords AdminServer
vis=false
exe=sdcl {
"var ($cnt,$str) = (0)
"loop $srv (@{T_SERVERS})
" var $str = join("\n",$str,sprintf(" %d %s",incr($cnt),$srv))
"var ${T_TMP_SERVERS/T} = $str
}

#------------------------------------------------------------------------------
# Identify the user
#------------------------------------------------------------------------------
[chk_type]
typ=T
dft=${W_TYPE}
dsc='Apply the type-related setup'
nam=-
var=ON:T_USER

[T_USER]
typ=T
def="COL/${RUN.SDSL.K_OID}"
dsc='Oracle WebLogic server user name'
nam=-
ref=is_valid_user('T_USER',last)
val=E
exe=sdcl {
"if ?$USERS{${T_TMP_NAM}}
"{var ${AUX.dft} = last
" var ${AUX.err} = 'User name cannot be empty and should not contain spacing \
"                   characters.'
" var ${AUX.inp} = "Enter the user name to connect to the AdminServer of \
"                   '${T_TMP_NAM}' domain (${D_TMP_DOM})"
" var ${AUX.lvl} = 3
"}
"else
"{var $tgt = addTarget($DOMAINS{${RUN.SDSL.K_OID}})
" if !length($usr = $tgt->get_attr('DOMAIN_USER'))
"  var $usr = 'weblogic'
" var ${AUX.dft} = $usr
" var ${AUX.err} = 'User name cannot be empty and should not contain spacing \
"                   characters.'
" var ${AUX.inp} = "Enter the user name to connect to the AdminServer of \
"                   '${T_TMP_NAM}' domain (${D_TMP_DOM})"
"}
}
