# DCpappfil.cfg: Collects PeopleSoft Information from Tuxedo Application Server
# $Id: DCpappfil.cfg,v 1.2 RDA Exp $
# ARCS: $Header: /RDA_8/src/scripting/lib/collect/APPS/DCpappfil.cfg,v 1.1 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20180502  SJC  Correct ARCS and Id lines.
# 20180102  DXM  Initial creation.

###############################################################################
# Collect PeopleSoft setup information for Tuxedo Application Server
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=${B_IN_USE}
dsc='Collects PeopleSoft Information from Tuxedo Application Server'
pre=APPS:DCpsft
rpt=B_IN_USE
var=not_used  # Flow:in_use,B_IN_USE
exe=sdcl {
"if ${GRP.PSFT.B_IN_USE}
" var @{AUX.var} = (cond(${PRF.B_TESTS},'in_use','B_IN_USE'))
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[in_use]
typ=B
dft=true
dsc='Is PeopleSoft information from Tuxedo Application Server requested?'
nam=B_IN_USE
var=D_TUX_HOME

[not_used]
typ=B
dft=false
dsc='Is PeopleSoft information from Tuxedo Application Server requested?'
nam=B_IN_USE

[B_IN_USE]
typ=B
dft=${AUX.B_SELECTED}
dsc='Is PeopleSoft information from Tuxedo Application Server requested?'
inp='Should RDA analyze PeopleSoft information from Tuxedo Application \
     Server (Y/N)?'
var=true:D_TUX_HOME,T_CFG_FIL,T_LOG_FIL

[D_TUX_HOME]
typ=D
dft=${ENV.TUXDIR}
dsc='PeopleSoft Tuxedo home directory'
err='Warning: The specified directory does not -yet- exist'
inp='Specify the PeopleSoft Tuxedo home directory'
val=W

[T_CFG_FIL]
typ=T
dft=${ENV.PAPP_CFG_FIL}
dsc='Specified Tuxedo Application Server configuration files'
inp='Specify configuration files to collect as a delimited string, \
     use colon as the delimiter. Only the filename is required. \012\'
val=W

[T_LOG_FIL]
typ=T
dft=${ENV.PAPP_LOG_FIL}
dsc='Specified Tuxedo Application Server log files'
inp='Specify log files to collect as a delimited string, \
     use colon as the delimiter. Only the filename is required. \012\'
val=W
