# DCpdba.cfg: Collects PeopleSoft Information from Oracle Database
# $Id: DCpdba.cfg,v 1.4 2013/12/18 13:10:06 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/APPS/DCpdba.cfg,v 1.4 2013/12/18 13:10:06 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20131217  KRA  Fix spell.

###############################################################################
# Collect PeopleSoft setup information for Oracle Database
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=${B_IN_USE}
dsc='Collects PeopleSoft Information from Oracle Database'
pre=RDA:DCbegin
rpt=B_IN_USE
tgt=${I_DB/C}
var=B_IN_USE  # Flow:in_use
exe=sdcl {
"if ${PRF.B_TESTS}
" var @{AUX.var} = ('in_use')
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[in_use]
typ=B
dft=true
dsc='Is PeopleSoft information from Oracle Database requested?'
nam=B_IN_USE
var=T_USER,I_DB

[B_IN_USE]
typ=B
dft=${AUX.B_SELECTED}
dsc='Is PeopleSoft information from Oracle Database requested?'
inp='Should RDA analyze PeopleSoft information from Oracle Database (Y/N)?'
var=true:T_USER,I_DB

[T_USER]
typ=T
dsc='User for which the PeopleSoft data has to be collected'
err='The PeopleSoft user name should begin with an alphanumeric character \
     and can have only alphanumeric characters, underscores (_), dollar signs \
     ($), or number signs (#) thereafter. It can be only 128 characters long.'
inp='Enter a PeopleSoft User ID (user name only) for which data has to be \
     collected'
ref='^[A-Za-z0-9][\w\$\#]{0,127}$'
val=E

[I_DB]
typ=I
cls='SQ'
dft=${SET.DB.DB.I_DB}
dsc='Database to analyze'

