# DCpschfil.cfg: Collects PeopleSoft Information from Process Scheduler
# $Id: DCpschfil.cfg,v 1.1 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/APPS/DCpschfil.cfg,v 1.1 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20180102  DXM  Initial creation.

###############################################################################
# Collect PeopleSoft setup information for Process scheduler
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=${B_IN_USE}
dsc='Collects PeopleSoft Information from Process Scheduler'
pre=APPS:DCpsft
rpt=B_IN_USE
var=not_used  # Flow:in_use,B_IN_USE
exe=sdcl {
"if ${GRP.PSFT.B_IN_USE}
" var @{AUX.var} = (cond(${PRF.B_TESTS},'in_use','B_IN_USE'))
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[in_use]
typ=B
dft=true
dsc='Is PeopleSoft information from process scheduler requested?'
nam=B_IN_USE
var=T_CFG_FIL

[not_used]
typ=B
dft=false
dsc='Is PeopleSoft information from process scheduler requested?'
nam=B_IN_USE

[B_IN_USE]
typ=B
dft=${AUX.B_SELECTED}
dsc='Is PeopleSoft information from process scheduler requested?'
inp='Should RDA analyze PeopleSoft information from process scheduler (Y/N)?'
var=true:T_CFG_FIL,T_LOG_FIL

[T_CFG_FIL]
typ=T
dft=${ENV.PSCH_CFG_FIL}
dsc='Specified Peoplesoft Scheduler configuration files'
inp='Specify configuration files to collect as a delimited string, \
     use colon as the delimiter. Only the filename is required. \012\'
val=W

[T_LOG_FIL]
typ=T
dft=${ENV.PSCH_LOG_FIL}
dsc='Specified Peoplesoft Scheduler log files'
inp='Specify log files to collect as a delimited string, \
     use colon as the delimiter. Only the filename is required. \012\'
val=W