# DCpsft.cfg: Controls PeopleSoft Data Collections
# $Id: DCpsft.cfg,v 1.5 2014/02/24 18:33:40 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/APPS/DCpsft.cfg,v 1.5 2014/02/24 18:33:40 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20140224  KRA  Extend setup for version 8.50 or later.

###############################################################################
# Collect the common PeopleSoft setup information
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=0
dsc='Controls PeopleSoft Data Collections'
pre=RDA:DCbegin
rpt=B_IN_USE
var=not_used  # Flow:in_use,B_IN_USE
exe=sdcl {
"var @{AUX.var} = (cond(${PRF.B_TESTS},'in_use','B_IN_USE'))
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[in_use]
typ=B
dft=true
dsc='Is PeopleSoft information requested?'
nam=B_IN_USE
var=D_HOME,R_AGE,N_TAIL

[not_used]
typ=B
dft=false
dsc='Is PeopleSoft information requested?'
nam=B_IN_USE

[B_IN_USE]
typ=B
dft=${AUX.B_SELECTED}
dsc='Is PeopleSoft information requested?'
inp="This module controls the following PeopleSoft collection types:\n \
     * Tuxedo Application Server\n \
     * Process Scheduler\n \
     * Web Application Server\n \
     Do you want RDA to analyze any of those collection types (Y/N)?"
var=true:D_HOME,R_AGE,N_TAIL

[D_HOME]
typ=D
dft=${ENV.PS_HOME}
dsc='PeopleSoft home directory'
err='The specified directory does not -yet- exist'
inp='Specify the PeopleSoft home directory'
val=E
var=exists:chk_cfg_home

[chk_cfg_home]
typ=B
dsc='Check if the version is 8.50 or higher'
nam=-
var=true:D_CFG_HOME
exe=sdcl {
"var $flg = false
"if grepFile(catFile(${D_HOME},'peopletools.properties'),\
"            '^productversion=\s*(\d+\.\d+)','fi1')
"{var ${V_TMP_PS/T} = first
" if compare('VALID',${V_TMP_PS},'8.50')
"  var $flg = true
"}
"var ${AUX.dft} = $flg
}

[D_CFG_HOME]
typ=D
dsc='PeopleSoft configuration home directory'
err='The specified directory does not -yet- exist'
inp='Specify the PeopleSoft configuration home directory'
val=E
exe=sdcl {
"if ${D_CFG_HOME/M}
"{if ?${ENV.PS_CFG_HOME}
"  var ${AUX.dft} = last
" elsif or(isWindows(),isCygwin())
" {if ?testDir('d',catDir(${ENV.USERPROFILE},'psft','pt',${V_TMP_PS}))
"   var ${AUX.dft} = last
" }
" elsif ?testDir('d',catDir(${ENV.HOME},'psft','pt',${V_TMP_PS}))
"  var ${AUX.dft} = last
"}
}

[R_AGE]
typ=N
dft=15
dsc='Age limit (in days) for the log files to be collected'
err='The number of days must be a positive number'
inp='Enter the age limit (in days) for the log files to be collected'
lvl=6
ref='R[0,['
val=F

[N_TAIL]
typ=N
dft=1000
dsc='Maximum number of lines to extract from each log file'
err='The number of lines must be an integer greater than zero'
inp='How many lines do you want RDA to extract starting from the end of each \
     log file for PeopleSoft products?'
lvl=6
ref='I]0,['
val=F
