# DCpweb.cfg: Collects PeopleSoft Information from Web Application Server
# $Id: DCpweb.cfg,v 1.5 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/APPS/DCpweb.cfg,v 1.4 2014/02/24 18:34:52 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20240426  DXM  Remove potential call out to DCias and DCj2ee.
# 20140224  KRA  Extend setup for version 8.50 or later.

###############################################################################
# Collect PeopleSoft setup information for Web Application Server
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=${B_IN_USE}
dsc='Collects PeopleSoft Information from Web Application Server'
pre=APPS:DCpsft
req=?B_REQ_WLS:OFM:DCwls
rpt=B_IN_USE
trg=?B_REQ_WLS:OFM:DCwls
var=not_used  # Flow:in_use,B_IN_USE
exe=sdcl {
"if ${GRP.PSFT.B_IN_USE}
" var @{AUX.var} = (cond(${PRF.B_TESTS},'in_use','B_IN_USE'))
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[in_use]
typ=B
dft=true
dsc='Is PeopleSoft information from Web Application Server requested?'
nam=B_IN_USE
var=W_WAS,D_WAS_HOME,V_WAS

[not_used]
typ=B
dft=false
dsc='Is PeopleSoft information from Web Application Server requested?'
nam=B_IN_USE

[B_IN_USE]
typ=B
dft=${AUX.B_SELECTED}
dsc='Is PeopleSoft information from Web Application Server requested?'
inp='Should RDA analyze PeopleSoft information from Web Application \
     Server (Y/N)?'
var=true:W_WAS,D_WAS_HOME,V_WAS

[W_WAS]
typ=M
bef='This module supports the following web application server types:'
dsc='Web Application Server type'
err='Not a valid menu item'
inp="\nSelect the Web Application Server type"
itm=[weblogic =>'Oracle WebLogic Server',\
     websphere=>'IBM WebSphere Server']
syn=(weblogic=>'wls',websphere=>'wsp')
val=F
exe=sdcl {
"var $dft = 'oas'
"if grepDir(catDir(${GRP.PSFT.D_CFG_HOME:${GRP.PSFT.D_HOME}},'webserv'),\
"           '^piaInstallLog\.xml$','fir2')
"{if grepFile(first(last),'(<WebServer\sPath=.*)','f1')
" {var ($lin) = last
"  if match($lin,'Type="([^"]+)"')
"   var ($dft) = last
"  var (${D_TMP_WAS_HOME/T}) = match($lin,'WebServer\sPath="([^"]*)"')
"  var (${V_TMP_WAS/T}) = match($lin,'Version="([^"]*)"')
" }
"}
"var ${AUX.dft} = $dft
}

[D_WAS_HOME]
typ=D
dft=${D_TMP_WAS_HOME}
dsc='Web Application Server home directory'
err='The specified directory does not -yet- exist'
inp='Enter the Web Application Server home directory'
val=E

[V_WAS]
typ=T
dft=${V_TMP_WAS}
dsc='Web Application Server version'
err='Not a valid Web Application Server version'
inp='Enter the Web Application Server version'
exe=sdcl {
"var ${B_REQ_WLS:'Oracle WebLogic Server involved?'} = \
"      compare('eq',${W_WAS},'weblogic')
}

