# DCret.cfg: Collects Oracle Retail Information
# $Id: DCret.cfg,v 1.5 2015/09/24 23:50:19 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/APPS/DCret.cfg,v 1.5 2015/09/24 23:50:19 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20150924  MSC  Eliminate trailing spaces.

###############################################################################
# Collect Oracle Retail setup information
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=${B_IN_USE}
dsc='Collects Oracle Retail Information'
pre=RDA:DCbegin
rpt=B_IN_USE
tgt=${I_DB/C}
var=B_IN_USE  # Flow:in_use
exe=sdcl {
"if ${PRF.B_TESTS}
" var @{AUX.var} = ('in_use')
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[in_use]
typ=B
dft=true
dsc='Is Oracle Retail information requested?'
nam=B_IN_USE
var=T_USER,I_DB

[B_IN_USE]
typ=B
dft=${AUX.B_SELECTED}
dsc='Is Oracle Retail information requested?'
inp='Should RDA analyze Oracle Retail (Y/N)?'
var=true:T_USER,I_DB

[T_USER]
typ=T
dsc='User for which the Oracle Retail data has to be collected'
err='The Oracle Retail user name should begin with an alphanumeric character \
     and can have only alphanumeric characters, underscores (_), dollar signs \
     ($), or number signs (#) thereafter. It can be only 128 characters long.'
inp='Enter an Oracle Retail User ID (user name only) for which data has to be \
     collected'
ref='^[A-Za-z0-9][\w\$\#]{0,127}$'
val=E

[I_DB]
typ=I
cls='SQ'
dft=${SET.DB.DB.I_DB}
dsc='Database to analyze'

