# DCsebl.cfg: Collects Siebel Information
# $Id: DCsebl.cfg,v 1.7 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/APPS/DCsebl.cfg,v 1.5 2013/12/18 13:10:06 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20230131  DXM  Remove OCM.
# 20190123  DXM  Add logic to validate web server home.
# 20171217  KRA  Fix spell.

###############################################################################
# Collect Siebel collection setup information
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=${B_IN_USE}
dsc='Collects Siebel Information'
fam=Cygwin,Unix,Windows
pre=RDA:DCbegin
rpt=B_IN_USE
var=not_used  # Flow:in_use,B_IN_USE
exe=sdcl {
"var @{AUX.var} = (cond(${PRF.B_TESTS},'in_use','B_IN_USE'))
"
"macro get_home_default
"{var ($nam) = @arg
" var $dir = ''
" var $ORACLE_HOME=${SET.RDA.BEGIN.D_ORACLE_HOME:''}
" if or(isWindows(),isCygwin())
"  var $dir = cond(hasRegOption(),\
"                  nvl(getReg64Value('HKLM\SOFTWARE\Oracle','inst_loc'),\
"                      getReg32Value('HKLM\SOFTWARE\Oracle','inst_loc')),\
"                  getRegValue('HKLM\SOFTWARE\Oracle','inst_loc'))
" elsif isUnix()
" {if !?nvl(testFile('e',catFile($ORACLE_HOME,'oraInst.loc')),\
            testFile('e','/etc/oraInst.loc'),\
"           testFile('e','/var/opt/oracle/oraInst.loc'))
"  {# Could not find the oraInst.loc file
"   var $dir = ''
"  }
"  else
"  {# Extract the inventory directory from the file
"   var $loc = last
"   var $dir = value(grepFile($loc,'^[^#]*inventory_loc','if'))
"  }
" }
"
" var $fil = catFile($dir,'ContentsXML','inventory.xml')
" var $xml = xmlLoadFile($fil)
" loop $itm (xmlFind($xml,'.../HOME_LIST/HOME'))
" {if compare('eq',xmlValue($itm,'NAME'),$nam)
"  {var $ohd = xmlValue($itm,'LOC')
"   break
"  }
" }
"  if ?testDir('d',$ohd)
"   return $ohd
" return ''
"}
"
"macro is_valid_home
"{var ($nam,$dir) = @arg
" require testDir('d',$dir),\
"   'The specified directory does not exist.'
" require isAbsolute($dir),\
"   'The specified directory is not an absolute path.'
" if compare('eq',$nam,'D_APPL_TOP')
" {var $fil = catFile($dir,'siebsrvr','admin','srvrdefs.dat')
"  require grepFile($fil,'\[Enterprise\]','f'),\
"    'The file, ',catFile('siebsrvr','admin','srvrdefs.dat'),' , cannot be \
"     found in the specified directory or the file exists but does not \
"     contain the string [Enterprise]'
" }
" elsif compare('eq',$nam,'D_GATE_TOP')
" {var $fil = catFile($dir,'gtwysrvr','admin','gtwydefs.dat')
"  require grepFile($fil,'\[Gateway\]','f'),\
"    'The file, ',catFile('gtwysrvr','admin','gtwydefs.dat'),' , cannot be \
"     found in the specified directory or the file exists but does not \
"     contain the string [Gateway]'
" }
" elsif compare('eq',$nam,'D_WEB_TOP')
" {var $fil = catFile($dir,'bin','eapps.cfg')
"  require grepFile($fil,'\[swe\]','f'),\
"    'The file, ',catFile('bin','eapps.cfg'),' , cannot be found in the \
"     specified directory or the file exists but does not contain the \
"     string [swe]'
" }
" var ${AUX.nam} = $nam
" return true
"}
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[in_use]
typ=B
dft=true
dsc='Should RDA collect Siebel information?'
nam=B_IN_USE
var=B_APPL,B_GATE,B_WEB,force_db

[not_used]
typ=B
dft=false
dsc='Should RDA collect Siebel information?'
nam=B_IN_USE

[B_IN_USE]
typ=B
dft=${AUX.B_SELECTED}
dsc='Should RDA collect Siebel information?'
inp='Do you want RDA to collect Siebel information (Y/N)?'
var=true:B_APPL,B_GATE,B_WEB,force_db

[B_APPL]
typ=B
dft=false
dsc='Is Siebel Server installed?'
inp='Is Siebel Server installed on this system (Y/N)?'
var=true:D_APPL_TOP

[D_APPL_TOP]
typ=D
dft=get_home_default('SES_HOME')
dsc='Location in which Siebel Server is installed'
inp='Enter the full path of the directory where Siebel Server is installed'
nam=-
raw=true
ref=is_valid_home('D_APPL_TOP',last)
val=W
var=exists:T_APPL_ENTERPRISE,T_APPL_SERVER

[T_APPL_ENTERPRISE]
typ=T
dsc='Application Enterprise name'
inp='Enter the name for the enterprise in the Application'

[T_APPL_SERVER]
typ=T
dsc='Application Server name'
inp='Enter the name for the server for the enterprise'

[B_GATE]
typ=B
dft=false
dsc='Is Siebel Gateway installed?'
inp='Is Siebel Gateway installed on this system (Y/N)?'
var=true:D_GATE_TOP

[D_GATE_TOP]
typ=D
dft=get_home_default('SES_HOME')
dsc='Location in which Siebel Gateway is installed'
inp='Enter the full path of the directory where Siebel Gateway is installed'
nam=-
raw=true
ref=is_valid_home('D_GATE_TOP',last)
val=W
var=exists:T_GATE_NODE,N_GATE_PORT,T_GATE_USER

[T_GATE_NODE]
typ=T
dft=${RDA.T_NODE}
dsc='Siebel Gateway machine name'
err='Error: The node name cannot contain a space or one of the following \
     characters \ < > ; : " * + = \ | ? ,'
inp='Enter the name of the node the Siebel Gateway is running on'
ref='^[^><;:\*\+=\\\|\?\,\s"]*$'
val=E

[N_GATE_PORT]
typ=N
dft=2320
dsc='Siebel Gateway port'
err='The port number is an integer number greater than zero'
inp='Enter the port number used for Siebel Gateway'
ref='I]0,['
val=E

[T_GATE_USER]
typ=T
dft='sadmin'
dsc='Siebel Server admin user name'
inp='Enter the admin user name for Siebel Server to check OBI integration'

[B_WEB]
typ=B
dft=false
dsc='Is Siebel Web Server installed?'
inp='Is Siebel Web Server installed on this system (Y/N)?'
var=true:D_WEB_TOP

[D_WEB_TOP]
typ=D
dft=get_home_default('EAPPWEB_HOME')
dsc='Location in which Siebel Web Server is installed'
inp='Enter the full path for the Siebel Web Server home'
nam=-
raw=true
ref=is_valid_home('D_WEB_TOP',last)
val=W

[force_db]
typ=B
dft=${PRF.B_DB}
nam=-
var=false:B_DB:\
          sebl_db

[sebl_db]
typ=B
dft=true
dsc='Collect information from an Oracle Database'
nam=B_DB
var=T_OWNER,I_DB

[B_DB]
typ=B
dft=false
dsc='Collect information from an Oracle Database'
hlp="WARNING: RDBMS information is collected from Oracle Database only.\n"
inp='Do you want to collect Siebel information from an Oracle Database (Y/N)?'
var=true:T_OWNER,I_DB

[T_OWNER]
typ=T
dft='siebel'
dsc='Owner of Siebel database tables'
err="The Siebel user name should begin with an alphanumeric character and can \
     have only alphanumeric characters, underscores (_), dollar signs ($), or \
     number signs (#) thereafter. It can be only 128 characters long."
inp='Enter an owner of Siebel database tables'
ref='^[A-Za-z0-9][\w\$\#]{0,127}$'
val=E

[I_DB]
typ=I
cls='SQ'
dsc='Database to analyze'

