# profile.cfg: APPS Collection Profile Definitions
# $Id: profile.cfg,v 1.11 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/APPS/profile.cfg,v 1.8 2014/05/22 13:10:25 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change History
# 20230131  DXM  Remove OCM.
# 20190104  PCW  Added profile JDEdwards_ES.
# 20181113  PCW  Added profile JDEdwards_Web.
# 20140421  KRA  Improve Provisioning profile.

[Act|AppsCheck]
*=APPS:DCact,OS:DCinst,OS:DCos,OS:DCperf,OS:DCprof
?Act="Oracle Application Overview"
?AppsCheck="Equivalent to Apps Check"
APPS.ACT.B_IN_USE=1
APPS.ACT.B_RDA_FORMAT=1

[FusionApps]
*=APPS:DCofa,OFM:DCwreq,OS:DCinst,OS:DCos,OS:DCperf,OS:DCprof
?="Oracle Fusion Applications problems"
PRF/APPS.OFA.B_TESTS=1
OFM.WREQ.N_INCIDENTS=2
OFM.WREQ.N_INCIDENT_FILES=2
OFM.WREQ.N_ROTATED_LOGS=0

[JDEdwards_ES|JDE_ES]
*=APPS:DCjdes,OS:DCnet,OS:DCos,OS:DCperf,OS:DCprof
?JDEdwards_ES="JD Edwards EnterpriseOne Enterprise Server collections"
PRF/APPS.JDES.B_TESTS=1

[JDEdwards_Web|JDE_Web]
*=APPS:DCjdweb,OFM:DCwreq,OS:DCnet,OS:DCos,OS:DCperf,OS:DCprof
?JDEdwards_Web="JD Edwards EnterpriseOne HTML Server collections"
LVL/OFM:DCwreq/B_CUSTOM_SCRIPTS=3
LVL/OFM:DCwreq/B_THREAD_DUMP=3
PRF/APPS.JDWEB.B_TESTS=1

[Odf_Act]
*=APPS:DCact
PRF/N_SQL_TIMEOUT=120
COL/DEFAULT.N_ATTEMPTS=10
COL/RENDER.W_THEME=odf
APPS.ACT.B_IN_USE=1
APPS.ACT.B_NO_EXTRA=1
APPS.ACT.B_RDA_FORMAT=0

[PeopleSoft_Appl|PeopleSoft_ApplServer]
*=APPS:DCpapp,APPS:DCpsft,OS:DCnet,OS:DCos,OS:DCperf,OS:DCprof
?PeopleSoft_Appl="PeopleSoft application server assessment collections"
!D="This profile collects PeopleSoft information from Tuxedo application \
    server. It collects by default information about:\n\
    o The operating system and environment\n\
    o The server network configuration\n\
    o PeopleSoft information from Tuxedo application server"
PRF/APPS.PAPP.B_TESTS=1
PRF/APPS.PSFT.B_TESTS=1

[PeopleSoft_DB|PeopleSoft_DBTier]
*=APPS:DCpdba,DB:DCadba,DB:DCdb,DB:DCdba,DB:DCdbm,DB:DClog,OS:DCinst,OS:DCnet,\
  OS:DConet,OS:DCos,OS:DCperf,OS:DCprof
?PeopleSoft_DB="PeopleSoft Oracle Database tier assessment collections"
!D1="This profile is designed to run against a PeopleSoft database tier. \
     It supports only collection for an Oracle Database. It collects by \
     default information about:\n\
     o The operating system and environment\n\
     o The server network configuration\n\
     o Oracle product installation details (inventory)"
!D2="It asks you also whether you wish to collect information about:\n\
     o Oracle Net\n\
     o Oracle Database\n\
     o Oracle Database memory\n\
     o Oracle Database trace and log\n\
     o PeopleSoft information from an Oracle Database"
!R="To ensure that RDA collects database information, when possible, start up \
    Oracle Database before running RDA. Specify the Database Oracle home as \
    the collection Oracle home during setup. This profile requires that the DB \
    module is configured with an user having privileges to select data from \
    the PeopleSoft schema."
PRF/APPS.PDBA.B_TESTS=1
PRF/DB.ADBA.B_TESTS=1
PRF/DB.DB.B_TESTS=1
PRF/DB.DBA.B_HCVE_CHECKS=1
PRF/DB.DBA.B_TESTS=1
PRF/DB.DBM.B_TESTS=1
PRF/DB.LOG.B_TESTS=1
PRF/OS.ONET.B_TESTS=1
PRF/OS.PERF.B_TESTS=1

[PeopleSoft_Sched|PeopleSoft_ProcessScheduler]
*=APPS:DCpsch,APPS:DCpsft,OS:DCnet,OS:DCos,OS:DCperf,OS:DCprof
?PeopleSoft_Sched="PeopleSoft process scheduler assessment collections"
!D="This profile collects information from PeopleSoft process scheduler. It \
    collects by default information about:\n\
    o The operating system and environment\n\
    o The server network configuration\n\
    o PeopleSoft Process Scheduler"
PRF/APPS.PSCH.B_TESTS=1
PRF/APPS.PSFT.B_TESTS=1

[PeopleSoft_Web|PeopleSoft_WebTier]
*=APPS:DCpsft,APPS:DCpweb,OS:DCinst,OS:DCnet,OS:DCos,OS:DCperf,OS:DCprof
?PeopleSoft_Web="PeopleSoft Web application server assessment collections"
!D="This profile collects PeopleSoft information from Web application server. \
    It supports Oracle Application Server, Oracle WebLogic Server, and IBM \
    WebSphere only. It collects by default information about:\n\
    o The operating system and environment\n\
    o The server network configuration\n\
    o Oracle product installation details (inventory)\n\
    o PeopleSoft information from Web application server"
!R="Start up all Web application server components before running RDA, when \
    possible, to ensure maximum collection. When used, specify the Oracle \
    Application Server home as the collection Oracle home during setup."
PRF/APPS.PSFT.B_TESTS=1
PRF/APPS.PWEB.B_TESTS=1
PRF/OFM.IAS.B_TESTS=1
PRF/OFM.WLS.B_TESTS=1
OS.INST.B_FILTER=1

[Provisioning]
*=APPS:DCofap,OFM:DCireq,OFM:DCwreq,OS:DCinst,OS:DCnet,OS:DCos,OS:DCperf,\
  OS:DCprof
?="Oracle Fusion Applications Provisioning problems"
@=CUS:OFAP
PRF/APPS.OFAP.B_TESTS=1
PRF/RDA.BEGIN.M_SETUP=APPS:DCofap
OFM.WREQ.N_INCIDENTS=2
OFM.WREQ.N_INCIDENT_FILES=2
OFM.WREQ.N_ROTATED_LOGS=0

[Retail]
*=APPS:DCret,DB:DCdb,DB:DCdba,DB:DCsp,OS:DCnet,OS:DConet
?="Oracle Retail problems"
PRF/APPS.RET.B_TESTS=1
PRF/DB.DB.B_TESTS=1
PRF/DB.DBA.B_HCVE_CHECKS=1
PRF/DB.DBA.B_TESTS=1

[Siebel]
*=APPS:DCsebl,OS:DCnet,OS:DCos,OS:DCperf,OS:DCprof
?Siebel="Siebel problems"
!D1="This profile collects information from Siebel. It collects by default \
     information about:\n\
     o The operating system and environment\n\
     o The server network configuration\n\
     o Siebel"
!D2="It asks you whether you want to collect Siebel information from an \
     Oracle Database"
PRF/APPS.SEBL.B_DB=0
PRF/APPS.SEBL.B_TESTS=1

[Siebel_DB|Siebel_DBTier]
*=APPS:DCsebl,DB:DCdb,DB:DCdba,DB:DCdbm,DB:DClog,OS:DCinst,OS:DCnet,OS:DConet,\
  OS:DCos,OS:DCperf,OS:DCprof
?Siebel_DB="Siebel with Oracle Database problems"
!D="This profile collects Siebel information along with Oracle Database \
    information. It collects by default information about:\n\
    o The operating system and environment\n\
    o The server network configuration\n\
    o Oracle product installation details (inventory)\n\
    o Oracle Net\n\
    o Oracle Database\n\
    o Oracle Database memory\n\
    o Oracle Database trace and log\n\
    o Siebel information along with information from Oracle Database"
!R="To ensure that RDA collects Siebel database information, when possible, \
    start the Oracle Database before running RDA. Specify the database Oracle \
    home as the collection Oracle home during setup."
PRF/APPS.SEBL.B_DB=1
PRF/APPS.SEBL.B_TESTS=1
PRF/DB.ADBA.B_TESTS=1
PRF/DB.DB.B_TESTS=1
PRF/DB.DBA.B_HCVE_CHECKS=1
PRF/DB.DBA.B_TESTS=1
PRF/DB.DBM.B_TESTS=1
PRF/DB.LOG.B_TESTS=1
PRF/OS.ONET.B_TESTS=1
PRF/OS.PERF.B_TESTS=1
