# REM.cfg: Remote Agent Model
# $Id: REM.cfg,v 1.3 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/admin/model/REM.cfg,v 1.2 2015/06/26 19:08:34 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change History
# 20180502  SJC  Correct copyright line.
# 20150626  MSC  Introduce Agent subclasses.

#------------------------------------------------------------------------------
# OpenVMS model
#------------------------------------------------------------------------------
[VMS:E]

#------------------------------------------------------------------------------
# Default model
#------------------------------------------------------------------------------
[*:R]
cls="RDA::Agent::Remote"
