# convert.cfg: Conversion Group Definitions
# $Id: convert.cfg,v 1.5 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/DB/convert.cfg,v 1.4 2013/10/30 07:18:24 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20230131  DXM  Remove OCM.
# 20130606  MSC  Rename the cluster module.

# -----------------------------------------------------------------------------
# Define the conversion groups
# -----------------------------------------------------------------------------

[DB_Assessment]
?="DB Assessment collections"
*=DB.ADBA
*=DB.ASM
*=DB.BR
*=DB.CRS
*=DB.D2PC
*=DB.DB
*=DB.DBA
*=DB.DBM
*=DB.DG
*=DB.LOG
*=DB.OCFS
*=DB.OLAP
*=DB.OMM
*=DB.RSRC
*=DB.STC
*=DB.STM
*=OS.INST
*=OS.NET
*=OS.ONET
*=OS.OS
*=OS.PERF
*=OS.PROF
*=RDA.CONFIG
*=RDA.END
*=RDA.LOAD
*=DB_HCVE_/+res

