# DCadba.cfg: Collects ACS Oracle Database Assessment Information
# $Id: DCadba.cfg,v 1.7 2014/08/14 12:59:15 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/DB/DCadba.cfg,v 1.7 2014/08/14 12:59:15 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20140814  KRA  Rename B_DG_STAT in B_ASM_DGS setting.

###############################################################################
# Collect ADBA setup information
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=${B_IN_USE}
dsc='Collects ACS Oracle Database Assessment Information'
man='RDA excludes this module when you do not specify a database to analyze.'
pre=DB:DCdb
rpt=B_IN_USE
tgt=${I_DBC/C}
var=not_used  # Flow:in_use,B_IN_USE
exe=sdcl {
"if ${GRP.DB.I_DB}
" var (${I_DBC/T},@{AUX.var}) = (last,cond(${PRF.B_TESTS},'in_use','B_IN_USE'))
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[in_use]
typ=B
dft=true
dsc='Collect ACS Oracle Database Assessment information?'
nam=B_IN_USE
var=B_ASSESS_ALL,B_ASM_DGS,I_DBC

[not_used]
typ=B
dft=false
dsc='Collect ACS Oracle Database Assessment information?'
nam=B_IN_USE

[B_IN_USE]
typ=B
dft=${AUX.B_SELECTED}
dsc='Collect ACS Oracle Database Assessment information?'
inp='Do you want RDA to collect ACS Oracle Database Assessment \
     information (Y/N)?'
lvl=9
var=true:B_ASSESS_ALL,B_ASM_DGS,I_DBC

[B_ASSESS_ALL]
typ=B
dft=true
dsc='Collect all database assessment reports?'
inp='In a Real Application Cluster context, it is not needed to collect all \
     database assessment reports from all the nodes in a cluster. Do you want \
     to collect all database assessment reports on this node (Y/N)?'
lvl=6
var=true:B_LOGINS,B_DBLINKS

[B_LOGINS]
typ=B
dft=false
dsc='Perform password tests?'
inp='Performing password tests can increase the number of failed login \
     attempts. Any future logins with an invalid password may cause the \
     account to lock. These tests should be performed on a single node of \
     a RAC configuration. Do you want to perform the password tests (Y/N)?'
lvl=6

[B_DBLINKS]
typ=B
dft=false
dsc='Perform database link tests?'
inp='The database link tests create temporarily database links. These links \
     are dropped later after the tests are complete. Do you want to perform \
     the database link tests (Y/N)?'
lvl=6

[B_ASM_DGS]
typ=B
dft=false
dsc='Do you want to use V$ASM_DISKGROUP_STAT instead of V$ASM_DISKGROUP?'
inp='Should RDA use V$ASM_DISKGROUP_STAT instead of V$ASM_DISKGROUP for \
     collecting ASM disk group details (Y/N)?'
lvl=3

[I_DBC]
typ=I
cls='SQ'
dsc='Database to analyze'
vis=false

