# DCapex.cfg: Collects APEX Information
# $Id: DCapex.cfg,v 1.9 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/DB/DCapex.cfg,v 1.8 2013/12/18 13:55:30 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20190218  SJC  Prompt only for single database information.
# 20131218  KRA  Fix spell.

###############################################################################
# Collect APEX setup information
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=${B_IN_USE}
dsc='Collects APEX Information'
pre=RDA:DCbegin
rpt=B_IN_USE
var=B_IN_USE  # Flow:in_use
exe=sdcl {
"if ${PRF.B_TESTS}
" var @{AUX.var} = ('in_use')
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[in_use]
typ=B
dft=true
dsc='Is APEX information requested?'
nam=B_IN_USE
var=I_DB

[B_IN_USE]
typ=B
dft=${AUX.B_SELECTED}
dsc='Is APEX information requested?'
inp='Do you want RDA to analyze Oracle APEX (Y/N)?'
var=true:I_DB

[I_DB]
typ=I
cls='SQ'
dft=${SET.DB.DB.I_DB}
dsc='Database to analyze'
