# DCbrm.cfg: Collects Billing and Revenue Management Information
# $Id: DCbrm.cfg,v 1.9 2014/11/10 16:58:05 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/CGBU/DCbrm.cfg,v 1.9 2014/11/10 16:58:05 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20141110  KRA  Extend N_TAIL setting.

###############################################################################
# Collect the Billing and Revenue Management setup information
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=${B_IN_USE}
dsc='Collects Oracle Communications Billing and Revenue Management Information'
fam=Cygwin,Unix,Windows
pre=RDA:DCbegin
rpt=B_IN_USE,B_PORTAL,B_EXTRACT,F_REGISTRY
var=get_release,chk_release  # Flow:in_use
exe=sdcl {
"if ${PRF.B_TESTS}
" var @{AUX.var} = ('in_use')
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[get_release]
typ=T
dsc='Oracle Communications Billing and Revenue Management release'
nam=-T_TMP_RELEASE
exe=sdcl {
"if ?$dir = testFile('d',${ENV.IFW_HOME})
"{if grepCommand(concat(catCommand($dir,'bin','ifw'),' -v 2>&1'),\
"                 'Pipeline\s+Server\s+\/\s+Version\s+(\d+(\.\d+){1,})','f1')
"  return ${AUX.dft} = first
" var @lin = command(concat(catCommand($dir,'bin','pinrev'),' 2>&1'))
" while @lin
" {if match(shift(@lin),'^PRODUCT_NAME="?(Infranet|Portal)_Base')
"  {if match(shift(@lin),'^VERSION="?(\d+(\.\d+){1,})')
"    return ${AUX.dft} = first
"  }
" }
"}
"loop $prf (@{SET.K_PRF})
"{if match($prf,'^CGBU\.SupportInformer(7)(\d+)\b')
"  return ${AUX.dft} = join('.',first,second)
"}
"loop $pth (${ENV.IFW_HOME},${ENV.INT_HOME},${ENV.PIN_HOME})
"{if match($pth,'\/(brm|portal)\/?(\d+(\.\d+){1,})($|\/)')
"  return ${AUX.dft} = second
"}
}

[chk_release]
typ=B
dft=match(${T_TMP_RELEASE},'\d')
dsc='Check Oracle Communications Billing and Revenue Management release'
nam=-
var=true:B_IN_USE:\
         not_used

[in_use]
typ=B
dft=true
dsc='Gather Oracle Communications Billing and Revenue Management information?'
nam=B_IN_USE
var=B_PORTAL,R_AGE,N_TAIL

[not_used]
typ=B
dft=false
dsc='Gather Oracle Communications Billing and Revenue Management information?'
nam=B_IN_USE

[B_IN_USE]
typ=B
dft=${T_TMP_RELEASE:${AUX.B_SELECTED}}
dsc='Gather Oracle Communications Billing and Revenue Management information?'
inp='Do you want RDA to collect Oracle Communications Billing and Revenue \
     Management information (Y/N)?'
var=true:B_PORTAL,R_AGE,N_TAIL

[B_PORTAL]
typ=B
dft=${ENV.PIN_HOME}
dsc='Gather BRM Base information?'
inp='Do you want RDA to collect BRM Base information (Y/N)?'
man='Performed for UNIX and Windows only'
var=true:get_pinctl:\
         F_REGISTRY,has_registry

[get_pinctl]
typ=F
alt=F_PINCTL,chk_pinctl
dft=catFile(${ENV.PIN_HOME},'bin','pin_ctl.conf')
dsc='Determine default pin_ctl.conf file'  # stopwords conf
nam=-F_TMP_PINCTL
var=F_PINCTL,chk_pinctl

[F_PINCTL]
typ=F
dft=${F_TMP_PINCTL}
dsc='pin_ctl.conf file to analyze'
err='The specified file does not exist'
inp='Enter the full path to the pin_ctl.conf file'
lvl=3
val=W

[chk_pinctl]
typ=F
alt=F_REGISTRY,has_registry
dft=${F_PINCTL}
dsc='Check pin_ctl.conf existence'
nam=-
var=B_EXTRACT

[B_EXTRACT]
typ=B
dft=false
dsc='Should RDA extract registry files to analyze from pin_ctl.conf?'
inp="Should RDA extract registry files to analyze from ${F_PINCTL} (Y/N)?"
lvl=3
var=true:one_home:\
         F_REGISTRY,has_registry

[one_home]
typ=B
dft=true
dsc='Are all registry files based on the same Pipeline Manager home?'
fam=Unix
nam=B_ONE_HOME
var=true:D_INT_HOME

[F_REGISTRY]
typ=F
dsc='List of pipeline registry files to analyze'
end='.'
err="The specified file does not exist"
fam=Unix
inp="Enter the absolute path of pipeline registry file to analyze or a \
     period (${AUX.end}) to terminate the list"
man='Performed for UNIX only'
val=F

[has_registry]
typ=B
dft=${F_REGISTRY}
dsc='Are registry files specified?'
nam=-
var=true:B_ONE_HOME

[B_ONE_HOME]
typ=B
dft=true
dsc='Are all registry files based on the same Pipeline Manager home?'
fam=Unix
inp='Are all registry files based on the same Pipeline Manager home (Y/N)?'
var=true:D_INT_HOME:\
         reg_sets,loop_registry

[R_AGE]
typ=N
dft=7
dsc='Age limit (in days) of the diagnostic trace files to be collected'
err='The number of days must be a positive number'
inp='Enter the age limit (in days) for the diagnostic files to be collected'
lvl=6
ref='R[0,['
val=F

[N_TAIL]
typ=N
dft=5000
dsc='Maximum number of lines to extract from log files'
err='The number of lines must be an integer greater than zero'
hlp='Providing zero as input collects the whole log file.'
inp='Enter how many lines you want RDA to extract from the end of the log \
     files?'
lvl=6
ref='I[0,['
val=F

#------------------------------------------------------------------------------
# Common Pipeline Manager home
#------------------------------------------------------------------------------
[D_INT_HOME]
typ=D
dft=${ENV.IFW_HOME:${ENV.INT_HOME}}
dsc='Common Pipeline Manager home (IFW_HOME/INT_HOME)'
err='The specified directory does not exist'
inp='Enter the absolute path of Pipeline Manager home (IFW_HOME/INT_HOME)'
val=F
var=exists:chk_one_log

[chk_one_log]
typ=D
alt=no_one_log,D_INT_HOME
dft=catDir(${D_INT_HOME},'log')
nam=-

[no_one_log]
typ=C
inp="\nThe specified directory ${D_INT_HOME} does not contain a log \
     subdirectory!\n"
vis=0

#------------------------------------------------------------------------------
# Multiple Pipeline Manager homes
#------------------------------------------------------------------------------
[reg_sets]
typ=T
dft="<<Extern:RDA/Extern/PrRegRd:set_reg_sets:${ENV.IFW_HOME:${ENV.INT_HOME}}"
dsc='BRM Base registry sets'
end='.'
nam=W_REG_SETS

[loop_registry]
typ=L
dft=@{W_REG_SETS}
dsc='Iterate on each registry'
nam=-W_SET
var=loop:set_reg_set,set_int_home

[set_reg_set]
typ=F
dft=${F_REG_${W_SET}}
dsc="Registry file for ${W_SET}"
nam=F_REG_${W_SET}

[set_int_home]
typ=D
dft=${D_INT_${W_SET}}
dsc="Pipeline Manager home (IFW_HOME/INT_HOME) for ${F_REG_${W_SET}}"
err='The specified directory does not exist'
inp="Enter the absolute path of Pipeline Manager home (IFW_HOME/INT_HOME) for \
     ${F_REG_${W_SET}}"
nam=D_INT_${W_SET}
val=F
var=exists:chk_int_log

[chk_int_log]
typ=D
alt=no_int_log,set_int_home
dft=catDir(${D_INT_${W_SET}},'log')
nam=-

[no_int_log]
typ=C
inp="\nThe specified directory ${D_INT_${W_SET}} does not have a log \
     subdirectory!\n"
vis=0
