# DCcm.cfg: Collects Configuration Manager Information
# $Id: DCcm.cfg,v 1.5 2014/03/12 11:49:12 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/CGBU/DCcm.cfg,v 1.5 2014/03/12 11:49:12 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20140312  MSC  Improve descriptions.

###############################################################################
# Collect the Oracle Communications Configuration Manager setup information
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=${B_IN_USE}
dsc='Collects Oracle Communications Configuration Manager Information'
fam=Unix
pre=RDA:DCbegin
rpt=B_IN_USE
var=not_used  # Flow:in_use,B_IN_USE
exe=sdcl {
"var @{AUX.var} = cond(${PRF.B_TESTS},'in_use','B_IN_USE')
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[in_use]
typ=B
dft=true
dsc='Is Oracle Communications Configuration Manager information requested?'
nam=B_IN_USE
var=D_DOMAIN,N_LIMIT

[not_used]
typ=B
dft=false
dsc='Is Oracle Communications Configuration Manager information requested?'
nam=B_IN_USE

[B_IN_USE]
typ=B
dft=${AUX.B_SELECTED}
dsc='Is Oracle Communications Configuration Manager information requested?'
inp='Do you want RDA to analyze Oracle Communications Configuration Manager \
     (Y/N)?'
var=true:D_DOMAIN,N_LIMIT

[D_DOMAIN]
typ=D
dsc='Configuration Manager domain directory'
err='Warning: The specified directory does not -yet- exist'
inp='Enter the Configuration Manager WebLogic Server domain directory'
val=W

[N_LIMIT]
typ=N
dft=2000
dsc='Number of lines of domain server log files to retain'
err='The size must be an integer greater than zero'
inp='Enter the number of lines domain log file data to include'
ref='I]0,['
val=E

