# DCece.cfg: Collects Elastic Charging Engine Information
# $Id: DCece.cfg,v 1.2 2014/03/12 11:19:39 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/CGBU/DCece.cfg,v 1.2 2014/03/12 11:19:39 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20140312  KRA  Improve description.

###############################################################################
# Collect the Elastic Charging Engine setup information
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=${B_IN_USE}
dsc='Collects Oracle Communications Elastic Charging Engine Information'
fam=Unix
pre=RDA:DCbegin
rpt=B_IN_USE
var=not_used  # Flow:in_use,B_IN_USE
exe=sdcl {
"var @{AUX.var} = (cond(${PRF.B_TESTS},'in_use','B_IN_USE'))
"
"macro is_valid_home
"{var ($nam,$dir) = @arg
" require testDir('d',$dir),\
"   'The specified ECE installation directory does not exist.'
" require isAbsolute($dir),\
"   'The specified ECE installation directory is not an absolute path.'
" require testFile('f',catFile($dir,'bin','ecc')),\
"   'The specified ECE installation directory does not contain some \
"    ECE installation related-files. Without a valid directory, \
"    the collection will be disabled.'
" var ${AUX.nam} = $nam
" return true
"}
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[in_use]
typ=B
dft=true
dsc='Is Oracle Communications ECE information requested?'
nam=B_IN_USE
var=D_HOME

[not_used]
typ=B
dft=false
dsc='Is Oracle Communications ECE information requested?'
nam=B_IN_USE

[B_IN_USE]
typ=B
dft=${AUX.B_SELECTED}
dsc='Is Oracle Communications ECE information requested?'
inp='Do you want RDA to analyze Oracle Communications Elastic Charging \
     Engine (ECE) (Y/N)?'
var=true:D_HOME

[D_HOME]
typ=D
dft=${SET.RDA.BEGIN.D_ORACLE_HOME}
dsc='Installation directory for Oracle Communications ECE'
inp='Enter the installation directory for Oracle Communications ECE'
nam=-
ref=is_valid_home('D_HOME',last)
val=W
var=exists:D_EXTRA,B_ALL_LOG:\
           not_used

[D_EXTRA]
typ=D
dsc='List of extra directories to collect'
end='.'
err='The path is not absolute or the directory does not exist'
inp="Enter the absolute path of an extra directory to collect or a period \
     (${AUX.end}) to terminate the list"
lvl=3
man="RDA repeats the question until you enter a period (${AUX.end}) to \
     terminate the list. RDA considers existing directories only."
ref='ADR'
val=E

[B_ALL_LOG]
typ=B
dft=false
dsc='Do you want to collect all log files into the collection?'
inp='Do you want RDA to collect all log files into the collection (Y/N)?'
lvl=3

