# DCipsa.cfg: Collects Oracle Communications IP Service Activator Information
# $Id: DCipsa.cfg,v 1.5 2014/03/12 11:53:14 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/CGBU/DCipsa.cfg,v 1.5 2014/03/12 11:53:14 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20140312  MSC  Improve descriptions.

###############################################################################
# Collect the Oracle Communications IP Service Activator setup information
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=${B_IN_USE}
dsc='Collects Oracle Communications IP Service Activator Software Information'
pre=RDA:DCbegin
rpt=B_IN_USE
var=not_used  # Flow:in_use,B_IN_USE
exe=sdcl {
"var @{AUX.var} = cond(${PRF.B_TESTS},'in_use','B_IN_USE')
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[in_use]
typ=B
dft=true
dsc='Is Oracle Communications IP Service Activator information requested?'
nam=B_IN_USE
var=D_HOME,N_AUDIT_TAIL,N_TAIL,B_DO_DEEPLOG

[not_used]
typ=B
dft=false
dsc='Is Oracle Communications IP Service Activator information requested?'
nam=B_IN_USE

[B_IN_USE]
typ=B
dft=${AUX.B_SELECTED}
dsc='Is Oracle Communications IP Service Activator information requested?'
inp='Do you want RDA to analyze Oracle Communications IP Service Activator \
     (Y/N)?'
var=true:D_HOME,N_AUDIT_TAIL,N_TAIL,B_DO_DEEPLOG

[D_HOME]
typ=D
dft='/opt/OracleCommunications/ServiceActivator'
dsc='Installation directory for Oracle Communications IP Service Activator'
err='Warning: The specified directory does not -yet- exist'
inp='Enter the installation directory for Oracle Communications IP Service \
     Activator'
val=W

[N_AUDIT_TAIL]
typ=N
dft=2000
dsc='Number of lines to capture for each audit trail log file'
err='The number of lines must be an integer greater than zero.'
inp='Enter the number of lines to retain for each audit trail log file'
ref='I]0,['
val=E

[N_TAIL]
typ=N
dft=10000
dsc='Number of lines to retain in other IP Service Activator log files'
err='The number of lines must be an integer greater than zero.'
inp='Enter the number of lines to retain for other log files'
ref='I]0,['
val=E

[B_DO_DEEPLOG]
typ=B
dft=false
dsc='Perform thread or severity analysis of log files'
hlp='This operation is time intensive.'
inp='Do you want RDA to perform a thread or severity analysis of your log \
     files (Y/N)?'
var=true:N_DEEPLOG_TAIL

[N_DEEPLOG_TAIL]
typ=N
dft=40000
dsc='Number of lines of each type on which to perform deep log file analysis'
err='The number of lines must be an integer greater than zero.'
inp='Enter the number of lines of each file type (e.g. cman) on which to \
     perform deep analysis'  # stopwords cman
ref='I]0,['
val=E

