# DCmes.cfg: Collects Oracle Messaging Exchange Server Information
# $Id: DCmes.cfg,v 1.3 2013/10/30 07:18:22 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/CGBU/DCmes.cfg,v 1.3 2013/10/30 07:18:22 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20130430  MSC  Change profile properties.

###############################################################################
# Collect the Oracle Messaging Exchange Server setup information
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=${B_IN_USE}
dsc='Collects Oracle Communications Messaging Exchange Server Information'
fam=Unix
pre=RDA:DCbegin
rpt=B_IN_USE
var=not_used  # Flow:in_use,B_IN_USE
exe=sdcl {
"if or(${OS.linux},${OS.solaris})
" var @{AUX.var} = cond(${PRF.B_TESTS},'in_use','B_IN_USE')
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[in_use]
typ=B
dft=true
dsc='Is Oracle Communications Messaging Exchange Server information requested?'
nam=B_IN_USE

[not_used]
typ=B
dft=false
dsc='Is Oracle Communications Messaging Exchange Server information requested?'
nam=B_IN_USE

[B_IN_USE]
typ=B
dft=${AUX.B_SELECTED}
dsc='Is Oracle Communications Messaging Exchange Server information requested?'
inp='Do you want RDA to analyze Oracle Communications Messaging Exchange \
     Server information (formerly Sun Java System Messaging Server) (Y/N)?'

