# DCncc.cfg: Collects Network Charging and Control Information
# $Id: DCncc.cfg,v 1.5 2013/10/30 07:18:22 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/CGBU/DCncc.cfg,v 1.5 2013/10/30 07:18:22 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20131001  KRA  Moved advanced setup level to 6.

###############################################################################
# Collect Network Charging and Control collection setup information
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=${B_IN_USE}
dsc='Collects Network Charging and Control Information'
fam=Unix
pre=RDA:DCbegin
rpt=B_IN_USE,D_HOME
var=not_used  # Flow:in_use,B_IN_USE
exe=sdcl {
"var @{AUX.var} = cond(${PRF.B_TESTS},'in_use','B_IN_USE')
"
"macro is_valid_home
"{var ($nam,$dir) = @arg
" require testDir('d',$dir),\
"   'The specified Network Charging and Control home directory does not exist.'
" require isAbsolute($dir),\
"   'The specified Network Charging and Control home directory is not an \
"    absolute path.'
" require findDir($dir,'^(SMS|SUPPORT|Configuration)$','f'),\
"   'The specified Network Charging and Control home directory does not \
"    contain some Network Charging and Control installation related-files.'
" var ${AUX.nam} = $nam
" return true
"}
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[in_use]
typ=B
dft=true
dsc='Is Network Charging and Control in use?'
nam=B_IN_USE
var=D_HOME

[not_used]
typ=B
dft=false
dsc='Is Network Charging and Control in use?'
nam=B_IN_USE

[B_IN_USE]
typ=B
dft=${AUX.B_SELECTED}
dsc='Is Network Charging and Control in use?'
inp='Do you want RDA to collect Network Charging and Control information (Y/N)?'
var=true:D_HOME

[D_HOME]
typ=D
dft='/IN/service_packages'
dsc='Network Charging and Control home directory'
inp='Enter the full path of the Network Charging and Control home directory'
nam=-
ref=is_valid_home('D_HOME',last)
val=W
var=exists:T_EXCLUDE_LIST,B_DB,B_COLLECT_LOG:\
           not_used

[T_EXCLUDE_LIST]
typ=D
ctx=${D_HOME}
dft='RAS_SERVER'
dsc='Sub directories to exclude from NCC home directory'
end='.'
err='Warning: The specified sub directory does not -yet- exist'
inp="Enter the sub directories to exclude from '${D_HOME}' directory or a \
     period (${AUX.end}) to terminate the list."
lvl=6
val=W

[B_DB]
typ=B
dft=false
dsc='Collect application information from an Oracle Database'
hlp="WARNING: RDBMS information is collected from Oracle Database only.\n"
inp='Do you want to collect application information from an Oracle Database \
     (Y/N)?'
var=true:I_DB

[I_DB]
typ=I
cls='SQ'
dsc='Database to analyze'

[B_COLLECT_LOG]
typ=B
dft=false
dsc='Do you want to capture the log files?'
inp='Do you want RDA to capture the log files (Y/N)?'
lvl=6

