# DCnm.cfg: Collects Oracle Communications Network Mediation Information
# $Id: DCnm.cfg,v 1.4 2013/10/30 07:18:23 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/CGBU/DCnm.cfg,v 1.4 2013/10/30 07:18:23 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20131001  KRA  Moved advanced setup level to 6.

###############################################################################
# Collect the Oracle Communications Network Mediation setup information
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=${B_IN_USE}
dsc='Collects Oracle Communications Network Mediation Information'
fam=Unix
pre=RDA:DCbegin
rpt=B_IN_USE
var=not_used  # Flow:in_use,B_IN_USE
exe=sdcl {
"var @{AUX.var} = cond(${PRF.B_TESTS},'in_use','B_IN_USE')
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[in_use]
typ=B
dft=true
dsc='Is Oracle Communications Network Mediation information requested?'
nam=B_IN_USE
var=D_HOME,N_TAIL

[not_used]
typ=B
dft=false
dsc='Is Oracle Communications Network Mediation information requested?'
nam=B_IN_USE

[B_IN_USE]
typ=B
dft=${AUX.B_SELECTED}
dsc='Is Oracle Communications Network Mediation information requested?'
inp='Do you want RDA to analyze Oracle Communications Network Mediation (Y/N)?'
var=true:D_HOME,N_TAIL

[D_HOME]
typ=D
dft='/opt/OracleCommunicationsNetworkMediation'
dsc='Installation directory for Oracle Communications Network Mediation'
err='Warning: The specified directory does not -yet- exist'
inp='Enter the installation directory for Oracle Communications Network \
     Mediation'
val=W

[N_TAIL]
typ=N
dft=1000
dsc='Number of lines to retain in each log file'
err='The number of lines must be an integer greater than zero'
inp='Enter the number of lines to retain for each log file'
lvl=6
ref='I]0,['
val=E

