# DCocomc.cfg: Collects Offline Mediation Controller Information
# $Id: DCocomc.cfg,v 1.4 2014/03/07 08:33:40 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/CGBU/DCocomc.cfg,v 1.4 2014/03/07 08:33:40 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20140307  KRA  Improve description.

###############################################################################
# Collect the Offline Mediation Controller setup information
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=${B_IN_USE}
dsc='Collects Oracle Communications Offline Mediation Controller Information'
pre=RDA:DCbegin
rpt=B_IN_USE
tgt=${I_OHC/C}
var=not_used  # Flow:in_use,B_IN_USE
exe=sdcl {
"if ${SET.RDA.BEGIN.I_ORACLE_HOME}
"{var ${I_OHC/T} = $itm = last
" var $ORACLE_HOME = $itm->get_first('D_ORACLE_HOME')
" if or(testDir('d',catDir($ORACLE_HOME,'ocomc')),\
"       match($itm->get_first('T_PRODUCT'),\
"             '^Oracle Communications Offline Mediation Controller'))
"  var @{AUX.var} = (cond(${PRF.B_TESTS},'in_use','B_IN_USE'))
" keep $ORACLE_HOME
"}
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[in_use]
typ=B
dft=true
dsc='Is Offline Mediation Controller information requested?'
nam=B_IN_USE
var=D_HOME,N_TAIL,I_OHC

[not_used]
typ=B
dft=false
dsc='Is Offline Mediation Controller information requested?'
nam=B_IN_USE

[B_IN_USE]
typ=B
dft=${AUX.B_SELECTED}
dsc='Is Offline Mediation Controller information requested?'
inp='Do you want RDA to analyze Oracle Communications Offline Mediation \
     Controller (OCOMC) (Y/N)?'
var=true:D_HOME,N_TAIL,I_OHC

[D_HOME]
typ=D
dft=catDir($ORACLE_HOME,'ocomc')
dsc='Installation directory for Offline Mediation Controller'
err='Warning: The specified directory does not -yet- exist'
inp='Enter the installation directory for Oracle Communications Offline \
     Mediation Controller'
val=W

[N_TAIL]
typ=N
dft=1000
dsc='Number of lines to retain in each log file'
err='The number of lines must be an integer greater than zero'
inp='Enter the number of lines to retain for each log file'
lvl=6
ref='I]0,['
val=E

[I_OHC]
typ=I
cls='OH'
dsc='Target associated with the Oracle home'
vis=false

