# DCps.cfg: Collects Oracle Communications Policy Services Information
# $Id: DCps.cfg,v 1.5 2013/12/18 13:31:17 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/CGBU/DCps.cfg,v 1.5 2013/12/18 13:31:17 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20131217  KRA  Fix spell.

###############################################################################
# Collect the Oracle Communications Policy Services setup information
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=${B_IN_USE}
dsc='Collects Oracle Communications Policy Services Information'
fam=Unix
pre=OS:DCnet,OS:DCos,OS:DCperf,RDA:DCbegin
rpt=B_IN_USE
var=not_used  # Flow:in_use,B_IN_USE
exe=sdcl {
"var @{AUX.var} = cond(${PRF.B_TESTS},'in_use','B_IN_USE')
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[in_use]
typ=B
dft=true
dsc='Is Oracle Communications Policy Services information requested?'
nam=B_IN_USE
var=D_HOME,B_DO_LDAP,B_DO_RADIUS,N_TAIL

[not_used]
typ=B
dft=false
dsc='Is Oracle Communications Policy Services information requested?'
nam=B_IN_USE

[B_IN_USE]
typ=B
dft=${AUX.B_SELECTED}
dsc='Is Oracle Communications Policy Services information requested?'
inp='Do you want RDA to analyze Oracle Communications Policy Services (Y/N)?'
var=true:D_HOME,B_DO_LDAP,B_DO_RADIUS,N_TAIL

[D_HOME]
typ=D
dft='/opt/mps'
dsc='Installation directory for Oracle Communications Policy Services'
err='Warning: The specified directory does not -yet- exist'
inp='Enter the installation directory for Oracle Communications Policy \
     Services'
val=W

[B_DO_LDAP]
typ=B
dft=true
dsc='Perform LDAP directory dump'
inp='Do you want RDA to perform a dump of your LDAP directory (Y/N)?'
var=true:D_LDAP_INSTALL,T_LDAP_HOST,T_LDAP_BASEDN

[D_LDAP_INSTALL]
typ=D
dft='/opt/iplanet5.2/server52'
dsc='Install directory of the iPlanet LDAP directory'
inp='Enter the directory where the iPlanet directory is installed'
val=W

[T_LDAP_HOST]
typ=T
dft=${RDA.T_NODE}
dsc='Host name of LDAP Server'
inp='Enter the host name (not IP address) of the LDAP Server'
val=W

[T_LDAP_BASEDN]
typ=T
dft="o=${RDA.T_DOMAIN}"
dsc='BaseDN the LDAP Server'  # stopwords BaseDN
inp='Enter the BaseDN of the LDAP Server'

[B_DO_RADIUS]
typ=B
dft=false
dsc='Is a Radius Server installed?'
inp='Is a Radius Server installed (Y/N)?'
var=true:D_RADIUS_INSTALL

[D_RADIUS_INSTALL]
typ=D
dft='/opt/radius'
dsc='Install directory of the radius server'
inp='Enter the directory where the directory server is installed'
val=W

[N_TAIL]
typ=N
dft=1000
dsc='Number of lines to retain in each log file'
err='The number of lines must be an integer greater than zero'
inp='Enter the number of lines to retain for each log file'
lvl=6
ref='I]0,['
val=E

