# DCsc.cfg: Collects Oracle Communications Service Controller Information
# $Id: DCsc.cfg,v 1.3 2013/10/30 07:18:23 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/CGBU/DCsc.cfg,v 1.3 2013/10/30 07:18:23 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20130430  MSC  Change profile properties.

###############################################################################
# Collect Oracle Communications Service Controller setup information
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=${B_IN_USE}
dsc='Collects Oracle Communications Service Controller Information'
fam=Unix
pre=RDA:DCbegin
rpt=B_IN_USE
var=not_used  # Flow:in_use,B_IN_USE
exe=sdcl {
"if or(${OS.linux},${OS.solaris})
" var @{AUX.var} = (cond(${PRF.B_TESTS},'in_use','B_IN_USE'))
"
"macro is_valid_home
"{var ($nam,$dir) = @arg
" require testDir('d',$dir),\
"   'The specified Service Controller home directory does not exist.'
" require isAbsolute($dir),\
"   'The specified Service Controller home directory is not an \
"    absolute path.'
" require or(grepDir($dir,'^product\.log$','fr'),\
"            findDir(${SET.RDA.BEGIN.D_ORACLE_HOME},'^ocsb','f')),\
"   'The specified Service Controller home directory does not contain some \
"    Service Controller installation related-files. Without a valid \
"    directory, the collection will be disabled.'
" var ${AUX.nam} = $nam
" return true
"}
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[in_use]
typ=B
dft=true
dsc='Is Oracle Communications Service Controller in use?'
nam=B_IN_USE
var=D_HOME

[not_used]
typ=B
dft=false
dsc='Is Oracle Communications Service Controller in use?'
nam=B_IN_USE

[B_IN_USE]
typ=B
dft=${AUX.B_SELECTED}
dsc='Is Oracle Communications Service Controller in use?'
inp='Do you want RDA to collect Oracle Communications Service Controller \
     information (Y/N)?'
var=true:D_HOME

[D_HOME]
typ=D
dsc='Service Controller home'
inp='Enter the Service Controller home to be analyzed'
nam=-
ref=is_valid_home('D_HOME',last)
val=W
var=missing:not_used
exe=sdcl {
"if ${D_HOME/M}
"{if findDir(${SET.RDA.BEGIN.D_ORACLE_HOME},'^ocsb','fpt')
"  var ${AUX.dft} = first(last)
"}
}

