# DCuim.cfg: Collects Unified Inventory Management Information
# $Id: DCuim.cfg,v 1.4 2014/03/13 11:24:53 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/CGBU/DCuim.cfg,v 1.4 2014/03/13 11:24:53 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20140312  KRA  Improve description.

###############################################################################
# Collect the Unified Inventory Management setup information
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
col=${B_IN_USE}
dsc='Collects Oracle Communications Unified Inventory Management Information'
pre=RDA:DCbegin
rpt=B_IN_USE
var=not_used  # Flow:in_use,B_IN_USE
exe=sdcl {
"var @{AUX.var} = cond(${PRF.B_TESTS},'in_use','B_IN_USE')
}

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[in_use]
typ=B
dft=true
dsc='Is Unified Inventory Management information requested?'
nam=B_IN_USE
var=D_DOMAIN,N_LIMIT

[not_used]
typ=B
dft=false
dsc='Is Unified Inventory Management information requested?'
nam=B_IN_USE

[B_IN_USE]
typ=B
dft=${AUX.B_SELECTED}
dsc='Is Unified Inventory Management information requested?'
inp='Do you want RDA to analyze Oracle Communications Unified Inventory \
     Management (Y/N)?'
var=true:D_DOMAIN,N_LIMIT

[D_DOMAIN]
typ=D
dsc='Unified Inventory Management domain directory'
err='Warning: The specified directory does not -yet- exist'
inp='Enter the Unified Inventory Management WebLogic Server domain directory'
val=W

[N_LIMIT]
typ=N
dft=5000
dsc='Number of lines of domain server log files to retain'
err='The size must be an integer greater than zero'
inp='Enter the number of lines domain log file data to include'
ref='I]0,['
val=E

