# mrc.cfg: Multi-run Collection Definitions
# $Id: mrc.cfg,v 1.2 2013/10/30 07:18:23 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/CGBU/mrc.cfg,v 1.2 2013/10/30 07:18:23 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change History
# 20121207  KRA  Initial RDA 8 version.

###############################################################################
# Define the multi-run collections
###############################################################################

[ncc:default]
*=MCncc|NCC
?="Collects Network Charging and Control-specific information"

