# profile.cfg: CGBU Collection Profile Definitions
# $Id: profile.cfg,v 1.8 2015/01/22 08:39:23 RDA Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_8/src/scripting/lib/collect/CGBU/profile.cfg,v 1.8 2015/01/22 08:39:23 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20150119  KRA  Improve Com_OCCAS profile.

[Com_ASAP]
*=CGBU:DCasap,OS:DCnet,OS:DCos,OS:DCperf
?="Oracle Communications ASAP problems"
PRF/CGBU.ASAP.B_TESTS=1
PRF/OS.PERF.B_TESTS=1

[Com_CM]
*=CGBU:DCcm,OS:DCnet,OS:DCos,OS:DCperf
?="Oracle Communications Configuration Manager problems"
PRF/CGBU.CM.B_TESTS=1
PRF/OS.PERF.B_TESTS=1

[Com_IPSA]
*=CGBU:DCipsa,OS:DCnet,OS:DCos,OS:DCperf
?="Oracle Communications IPSA Software problems"
PRF/CGBU.IPSA.B_TESTS=1
PRF/OS.PERF.B_TESTS=1

[Com_NCC]
*=CGBU:DCncc,DB:DCdb,DB:DCdba,DB:DClog,OS:DCnet,OS:DConet,OS:DCos,OS:DCperf,\
  OS:DCprof
?="Oracle Communications Network Charging and Control problems"
PRF/CGBU.NCC.B_TESTS=1
PRF/DB.DB.B_TESTS=1
PRF/DB.LOG.B_TESTS=1
PRF/OS.ONET.B_TESTS=1
PRF/OS.OS.N_TAIL=1000

[Com_ND]
*=CGBU:DCnd,OS:DCnet,OS:DCos,OS:DCperf
?="Oracle Communications Network Discovery problems"
PRF/CGBU.ND.B_TESTS=1
PRF/OS.PERF.B_TESTS=1

[Com_NI]
*=CGBU:DCni,OS:DCnet,OS:DCos,OS:DCperf
?="Oracle Communications Network Integrity problems"
PRF/CGBU.NI.B_TESTS=1
PRF/OS.PERF.B_TESTS=1

[Com_NM]
*=CGBU:DCnm,OS:DCnet,OS:DCos,OS:DCperf
?="Oracle Communications Network Mediation problems"
PRF/CGBU.NM.B_TESTS=1
PRF/OS.PERF.B_TESTS=1

[Com_OCCAS]
*=CGBU:DCoccas,OFM:DCwreq,OS:DCnet,OS:DCos,OS:DCperf,OS:DCprof
?="Oracle Communications Converged Application Server problems"
LVL/OFM:DCwreq/B_THREAD_DUMP=3
LVL/OS:DCnet/B_PING_TESTS=6
LVL/RDA:DCbegin/D_ORACLE_HOME=6
LVL/RDA:DCbegin/T_ORACLE_HOME=6
PRF/CGBU.OCCAS.B_TESTS=1
PRF/OFM.WREQ.R_BSU_FACTOR=2

[Com_OCSG]
*=CGBU:DCocsg,OS:DCnet,OS:DCos,OS:DCperf
?="Oracle Communications Service Gatekeeper problems"
LVL/OS:DCnet/B_PING_TESTS=6
LVL/RDA:DCbegin/D_ORACLE_HOME=6
LVL/RDA:DCbegin/T_ORACLE_HOME=6
PRF/CGBU.OCSG.B_TESTS=1

[Com_OSM]
*=CGBU:DCosm,OS:DCnet,OS:DCos,OS:DCperf
?="Oracle Communications Order and Service Management problems"
PRF/CGBU.OSM.B_TESTS=1
PRF/OS.PERF.B_TESTS=1

[Com_PS]
*=CGBU:DCps,OS:DCnet,OS:DCos,OS:DCperf
?="Oracle Communications Policy Services problems"
PRF/CGBU.PS.B_TESTS=1
PRF/OS.PERF.B_TESTS=1

[Com_SC]
*=CGBU:DCsc,OS:DCnet,OS:DCos,OS:DCperf
?="Oracle Communications Service Controller problems"
PRF/CGBU.SC.B_TESTS=1
PRF/OS.PERF.B_TESTS=1

[Com_SC_Db]
*=CGBU:DCsc,DB:DCdb,DB:DCdba,DB:DCdbm,DB:DClog,OS:DCnet,OS:DCos,OS:DCperf
?="Oracle Communications Service Controller with Database problems"
PRF/CGBU.SC.B_TESTS=1
PRF/DB.DB.B_TESTS=1
PRF/DB.DBM.B_TESTS=1
PRF/DB.LOG.B_TESTS=1
PRF/OS.PERF.B_TESTS=1

[Com_UIM]
*=CGBU:DCuim,OS:DCnet,OS:DCos,OS:DCperf
?="Oracle Communications Unified Inventory Management problems"
PRF/CGBU.UIM.B_TESTS=1
PRF/OS.PERF.B_TESTS=1

[SupportInformer70|SupportInformer72|SupportInformer73|SupportInformer74|\
 SupportInformer75|SupportInformer]
*=CGBU:DCbrm,OS:DCos,OS:DCperf,OS:DCprof,RDA:DCcust
?SupportInformer70="Oracle Communication BRM 7.0 problems"
?SupportInformer72="Oracle Communication BRM 7.2 problems"
?SupportInformer73="Oracle Communication BRM 7.3 problems"
?SupportInformer74="Oracle Communication BRM 7.4 problems"
?SupportInformer75="Oracle Communication BRM 7.5 problems"
PRF/CGBU.BRM.B_TESTS=1
PRF/RDA.CUST.B_TESTS=1

