# group.cfg: CLOUD Group Definition
# $Id: group.cfg,v 1.2 RDA Exp $
# ARCS: $Header: /RDA_8/src/scripting/lib/collect/CLOUD/group.cfg,v 1.1 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change History
# 20181206  PCW  Added missing ARCS line.
# 20180517  DXM  Initial version.

[CLOUD]
N_CFG="250"
N_RUN="250"
T_TTL="Oracle Public Cloud Product Settings"
