# profile.cfg: CLOUD Collection Profile Definitions
# $Id: profile.cfg,v 1.2 RDA Exp $
# ARCS: $Header: /RDA_8/src/scripting/lib/collect/CLOUD/profile.cfg,v 1.1 RDA Exp $
#
# Copyright (c) 2002, 2024, Oracle and/or its affiliates. All rights reserved.
#
# Change History
# 20181128  PCW  Added MobileCloudService profile.
# 20180517  DXM  Initial version.

[JavaCloudService]
*=OS:DCnet,OS:DCos,OS:DCperf,OS:DCprof,CLOUD:DCjcs
?="Java Cloud Service problems"
LVL/CLOUD:DCjcs/W_TYPE=3
LVL/OFM:DCwreq/B_CUSTOM_SCRIPTS=3
LVL/OFM:DCwreq/B_THREAD_DUMP=3
LVL/OS:DCnet/B_PING_TESTS=6
LVL/RDA:DCbegin/D_INSTANCE_ROOT=6
LVL/RDA:DCbegin/edit_instance_root=6
LVL/RDA:DCbegin/set_optional_root=6
PRF/N_OFM_LEVEL=3
PRF/CLOUD.JCS.B_TESTS=1
PRF/CLOUD.JCS.W_TYPE=ON
PRF/OFM.WREQ.B_HCVE_CHECKS=1
OFM.WREQ.N_ROTATED_LOGS=6
OS.INST.B_FILTER=1

[MobileCloudService]
*=OS:DCnet,OS:DCos,OS:DCperf,OS:DCprof,CLOUD:DCmcs
?="Mobile Cloud Service problems"
LVL/CLOUD:DCmcs/W_TYPE=3
LVL/OFM:DCwreq/B_CUSTOM_SCRIPTS=3
LVL/OFM:DCwreq/B_THREAD_DUMP=3
LVL/OS:DCnet/B_PING_TESTS=6
LVL/RDA:DCbegin/D_INSTANCE_ROOT=6
LVL/RDA:DCbegin/edit_instance_root=6
LVL/RDA:DCbegin/set_optional_root=6
PRF/N_OFM_LEVEL=3
PRF/CLOUD.MCS.B_TESTS=1
PRF/CLOUD.MCS.W_TYPE=ON
PRF/OFM.WREQ.B_HCVE_CHECKS=1
OFM.WREQ.N_ROTATED_LOGS=6
OS.INST.B_FILTER=1
